


<footer class="footer">
    <div class="scrolling-bar">
      <p id="last-updated"></p>
    </div>

    <section class="grid">
        <div class="box">
            <h3>Important links</h3>
            <a href="https://www.himtu.ac.in/"> <i class="fas fa-angle-right"></i>himtu.ac.in</a>
            <a href="http://www.techeduhp.gov.in/"><i class="fas fa-angle-right"></i>techeduhp.gov.in</a>
            <a href="https://www.aicte-india.org/"><i class="fas fa-angle-right"></i>aicte-india.org</a>
            <a href="https://xn--61b3bnz0ae.xn--11b7cb3a6a.xn--h2brj9c/hi-IN/"><i class="fas fa-angle-right"></i>himachal.nic.in</a>
            <a href="https://www.data.gov.in/"><i class="fas fa-angle-right"></i>data.gov.in</a>
            <a href="https://www.india.gov.in/"><i class="fas fa-angle-right"></i>india.gov.in</a>
        </div>

        <div class="box qr">
            <h3>Scan QR Code <br>for Android App</h3>
            <a href="https://docs.google.com/uc?export=download&id=1hFjjuiNwCJMR71rMudbWGtfYxm_tuwyT&confirm=t&uuid=a3849a67-b8f6-40e3-9d75-5dd69d2e571d&at=AD1-pjG-Gu6hnDvcy4Wt7q9K2Oc6:1678980290813" target="_blank"><img src="images/qr_.png" alt="" width="70%"></a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="#"><i class="fab fa-facebook-f"></i>Facebook</a>

            <a href="#"><i class="fab fa-twitter"></i>Twitter</a>

            <a href="#"><i class="fab fa-instagram"></i>Instagram</a>

            <a href="#"><i class="fab fa-youtube"></i>Youtube</a>
        </div>

        <div class="box">
            <h3>Address</h3>
            <p>J. N. Govt. Engineering College Sundernagar, Himachal Pradesh - 175018</p>

            <a href="http://www.jngec.ac.in/"><i class="fa-solid fa-globe"></i> www.jngec.ac.in</a>

            <a href="mailto:jngechp@yahoo.co.in"><i class="fa-solid fa-envelope"></i>jngechp@yahoo.co.in</a>

            <a href="tel:1907 267688"><i class="fa-solid fa-phone"></i>+91 (0) 1907 267688</a>
        </div>

    </section>
    <div class="credit"> &copy; copyright @ <%= new Date().getFullYear() %> by <span>E&CED, JNGEC </span>| all rights reserved <br/>
        <a href="pd">Designed & Developement Team</a>
    </div>

</footer>




<script src="js/script.js"></script>
</body>
</html>