<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- stylesheet link  -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- fontawsome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

 <!-- bootstrap link for css -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">  -->
    <title>E&CED-JNGEC</title>
</head>

<body>

    <header class="header">
        <section class="flex">
            <a href="" class="logo">E&CED</a>

            <nav class="navbar">
                <div class="link-head"><a href="/"><i class="fa-solid fa-house"></i></a></div>


                <div class="dropdown">
                    <div class="link-head">
                        <a href="">E&CED</a>
                        <i class="fa-solid fa-caret-down "></i>
                    </div>
                    <ul class="links">
                        <li><a href="/hodmsg">HOD's Message</a></li>
                        <li><a href="/vision">Vision & Mission</a></li>
                        <li><a href="/peo">PEO's, PO's & PSO's</a></li>
                        <li><a href="/tech">Course Outcomes</a></li>
                        <li><a href="/achievements">Achievements</a></li>
                        <li><a href="/nba">NBA Record</a></li>
                        <li><a href="/fac">Faculty/Staff</a></li>
                    </ul>
                </div>


                <div class="dropdown">
                    <div class="link-head">
                        <a href="">Academics</a>
                        <i class="fa-solid fa-caret-down "></i>
                    </div>
                    <ul class="links">
                        <li><a href="/time">Time Table</a></li>
                        <li><a href="/syl">Syllabus ECE</a></li>
                        <li><a href="/att">Attendance</a></li>
                        <li><a href="/int">Internal Assessment</a></li>
                        <li><a href="/fin">Final result</a></li>
                      
                      
                        
                        <li><a href="/acad">Academic Calendar</a></li>
                        <li><a href="/pyp">Previous Year Papers</a></li>
                        <li><a href="/sf">Student Feedback</a></li>
                    </ul>
                </div>
                
                <div class="dropdown">
                    <div class="link-head">
                        <a href="">Training & Placement</a>
                        <i class="fa-solid fa-caret-down "></i>
                    </div>
                    <ul class="links">
                        <li><a href="/atp">About Training & Placement</a></li>
                        <li><a href="/trec">Training Record</a></li>
                        <li><a href="/prec">Placement Record</a></li>
                        <li><a href="/iii">Industry-Institute Interaction</a></li>
                        <li><a href="/ptp">Proforma Training & Placement</a></li>
                       
                    </ul>
                </div>
                
                <div class="dropdown">
                    <div class="link-head">
                        <a href="">Student Corner</a>
                        <i class="fa-solid fa-caret-down "></i>
                    </div>
                    

                    <ul class="links">
                        <li><a href="/lab">Laboratories & Tools</a></li>
                        <li><a href="/club">Club Activities</a></li>
                        <li><a href="/alum">Alumni E&CED</a></li>
                        <li><a href="/bab">Bits & Bytes</a></li>
                       
                        
                        <li><a href="/mil">Milestones</a></li>
                        <li><a href="/egr">e-Grievance</a></li>
                        
                    </ul>
                   
                </div>
                
             
                <div class="dropdown">
                    <div class="link-head">
                        <a href="">Resources</a>
                        <i class="fa-solid fa-caret-down "></i>
                    </div>

                    <ul class="links">
                        <li><a href="/maj">Major/Minor Project Record</a></li>
                        <li><a href="/ba">Seminars</a></li>
                        <li><a href="/vid">Video Lectures</a></li>
                        <li><a href="/mou">MOU's</a></li>
                        <li><a href="/epp">Publications</a></li>
                        <li><a href="/spo">Spoken-Tutorial</a></li>
                      
                    </ul>

                   
                </div>
                
             

                
            </nav>
            <div id="menu-btn" class="fa-solid fa-bars"></div>
        </section>

    </header>  
    
    <!-- =================home==================== -->
        <div class="home-container">
            <section class="home">
            <div class="logo"><img src="images/jngec_logo_small.png" alt="college logo" width="160px" ></div>
            <div class="home-txt" style="font-size: 45px;">DEPARTMENT OF ELECTRONICS <br> 
                & <br>
                COMMUNICATION ENGINEERING</div>
            <div class="logo1"><img src="images/g20-logo.png" alt="g-20 logo" width="140px"><a href="https://g20.org/engagement-groups-2/"></a></div>
            </section>
        </div>