<%-include("partials/header") %>



<!-- ========about================== -->

<section class="about-dept">
  <h1 class="heading">About the Department</h1>
  <div class="box-container">
      <div class="box">
        <img src="images/alumini.png" alt="aluminis" >
      </div>
      <div class="box">
         <p>
            Amidst the lush green mountainous campus of JNGEC, Sundernagar, the department of Electronics and Communication Engineering stands tall since the introduction of the programme in the institute. The department envisions holistic development of its students with the help of expert faculty, well equipped laboratories and a healthy learning and working environment. The focus of the department is to discover the true potential of students by creating a challenging yet interesting curriculum.
         </p>
          <p> 
            The department of Electronics & Communication Engineering was established in 2010. It offers Under Graduate courses (B.Tech) in the field of Electronics & Communication Engineering. It has a supportive campus environment where one can actively collaborate with his/her faculty and classmates as well as get involved in the other innovative things. The Department provides many opportunities to gain practical work experience and ensure a successful career. Electroics engineers are changing the world to a comfortable global home. The information and technology revolution has been built on the advances of Electronics. ECE is one of the pioneering departments of JNGEC Sundernagar which has excelled in the past few years. Through the constant support of our qualified Faculty, Staff, High-Tech Labs and undoubtedly our brilliant students, JNGEC-ECE has conducted and continues to deliver path breaking performance and myriad innovations. 
          </p>
          <p>
            The department's commitment to excellence has been recognized by the National Board of Accreditation (NBA), accrediting our programs for the years 2023-2024 and 2024-2025. This accreditation serves as a testament to our unwavering dedication to maintaining the highest standards of quality education and ensuring the success of our students. 
          </p>
          <p>
            With the constant support of our esteemed faculty, dedicated staff, and talented students, the ECE department at JNGEC Sundernagar continues to push the boundaries of innovation and excellence, shaping the future of electronics engineering and making meaningful contributions to society.
          </p>
      </div>
  </div>
  <div class="box-container nba-container">
    <div class="box">
      <h1>Programme Accredited By NBA</h1>
      <ul>
        <li><strong>Programme :</strong> UG in Electronics and Communication Engineering </li>
        <li><strong>Approved intake :</strong> 60</li>
      </ul>
    </div>
    <div class="box ">
      <img src="images/nba.png" class="nba" alt="nba" >
    </div>
  </div>
  



</section>







<%-include("partials/footer") %>