<%-include("partials/header") %>
<section class="achievements ">
    <h1 class="heading">Achievements</h1>
    <div class="box-container">
        <div class="box">
            <div class="title">
                "ENVIRO-IDEATION HACKATHON" - 2023
            </div>
            <div class="content">
                <p>
                    The Himachal Pradesh State Pollution Control Board organized the first-ever State Level <span>“Enviro-Ideation Hackathon 2023” </span> on the occasion of World Environment Day today on 5th June 2023. 
                </p>
                <p>
                    <span>Hon'ble Chief Minister, Himachal Pradesh was the Chief Guest</span> 
                     on the occasion. The hackathon was conducted under the aegis of Mission LIFE campaign, which focuses on environmental conservation. The month-long hackathon competition began with registration and submission on May 15th, 2023, and concluded on May 25th, 2023. 

                    Five finalists were selected from the shortlisted participants to present their ideas before an external panel of four distinguished experts on June 5th, 2023. 

                </p>
                    
                <p>
                    The hackathon revolved around the theme of <span>“Waste to Wonder”,</span>  with participants submitting their ideas under four sub-themes: Solid Waste, Plastic Waste, Ewaste, and Construction and Demolition Waste. In this event,<span>Pragun Jaswal, & Zubair Ahmed Sofi</span>  , from 3rd Year, ECE Department JNGEC Sundernagar won the “First Himachal Pradesh Enviro-Ideation Hackathon 2023“ and were awarded with a cash prize of Rs. 1.00 lakh.
                </p>
                <p>
                    The ECE department's participation played a significant role in nurturing and encouraging students to explore innovative solutions in environmental conservation.<span> Mr. Akshay Kanwar, the AP ECE,</span>  deserves special recognition for providing guidance and contributing the original idea that led to the winning team's success.
                </p>
            </div>

        </div>




        <div class="box">
            <div class="title">
                "SMART INDIA HACKATHON" - 2023 
            </div>
            <div class="content">
                <div class="fluid">
                    <div class="ach-flud">
                        <img src="images/achievement.jpeg" alt="achievements" class="achimg" />
                    </div>
               <div class="ach-flud "> <p>
                    We are delighted to share a moment of immense pride asPragun Jaswal, Sahil Rana, Sahil Bhardwaj, Zubair Ahmed Sofi, Vanshika and Anshul from the 7th semester of the Electronics and Communication (ECE) department a team of six students <span></span>  participated in the nationwide 
                    <span>"Smart India Hackathon 2023"</span>, organized by AICTE, New Delhi.  Following a rigorous competition involving over 500 teams in the initial phase, this exceptional team earned a coveted spot among the top six teams for the grand finale. 
                </p>
                <p>
                    The grand finale, hosted at <span>VidyaVardhaka College of Engineering, University in Mysore, Karnataka</span>.  on December 19th and 20th, 2023, witnessed our dedicated students engaging in spirited competition with some of the nation's best teams. Under the guidance of <span>Mr. Akshay Kanwar, AP ECE and Mr. Ravi Kumar, AP CSE</span>  the team developed a cutting-edge hardware and software solution focused on "Optimizing Doctor Availability and Appointment Allocation through Digital Technology and AI." As a testament to their exceptional work and dedication, the team secured the first position and was rewarded with a substantial <span>cash prize of ₹1,00,000.
</span>
                </p>
                 </div>   
               </div>
            </div>
</div>
        </div>
    </div>
    
</section>



<%-include("partials/footer") %>