<%-include("partials/header") %>
<section class="faculty">
    <h1 class="heading">Alumni Cell E&CED</h1>
    <div class="box-container">
        <div class="box">
            <div class=""><img src="https://media.istockphoto.com/id/639698498/photo/graduation-college-school-degree-successful-concept.jpg?s=612x612&w=0&k=20&c=xTxCHBETVW5uX4HcZOhkgH4w_oNYnbSMfKe2jv-PNlU=" alt="" class="alm-img" height="500px" width="500px"></div>
            <p>Our alumni are a diverse and accomplished group of individuals who have successfully completed their education and gone on to make significant contributions in their respective fields. They have graduated from our department equipped with the skills, knowledge, and experience necessary to excel in their careers and make a positive impact on society.</p>

           <p>However, the journey doesn't end with graduation. That's why we have an Alumni Cell, a dedicated team within our department that works to foster connections and engagement between our alumni and our department. The Alumni Cell serves as a central point of contact for our alumni, providing them with opportunities to network with each other, stay informed about news and events related to our institution, and access a range of services and resources.</p> 
            <p>Our alumni and Alumni Cell are essential parts of our departments community, and we are proud of the achievements and contributions of our alumni. We are committed to maintaining strong connections with our alumni community and supporting them throughout their lives, and we look forward to continuing to work together to make a positive impact on society. </p>
            
        </div>
        <h1 class="title">Testimonials</h1>
        <div class="box ">
            <div class="content img"><img src="images\media1.png" alt="">
            
            </div>

            <div class="content">
                <div class="des">
                    <h1 class="name" onclick="showDiv('kanishak',this,)">Kanishak Vaidya
                        <span class="arrow">▼</span> </h1>
                    
                    <h3>Batch 2012-2016</h3>
                    <p>Department of Electronics & Communication Engineering</p>
                    <p><strong>Gate</strong> All India Rank 10</p>
                </div>   
                <div class="bio" id="kanishak">
                    <h3>Testimonial</h3>
                    <p>Myself Kanishak Vaidya, from the town of Mandi, Himachal Pradesh, I completed my schooling at Kendriya Vidyalaya Mandi. I embarked on my academic journey by enrolling in Jawaharlal Nehru Government Engineering College, Sundernagar, where I pursued B.Tech in Electronics and Communication Engineering. I really like to thank my faculty members from Jawaharlal Nehru Government Engineering College, Sundernagar for guiding me throughout my B.Tech degree programme and after completing my B.Tech, I appeared for the highly competitive GATE examination and secured a GATE score of 1000, with an "All India Rank of 10". Then to specialize in Signals and Systems, I seized the opportunity to pursue an M.Tech degree at the "Indian Institute of Science, Bengaluru". During my master's, I showed interest in further pursuing my research work in IISc, leading to the upgrade of my master's degree to a PhD program after just one year. I am awarded with the esteemed "Prime Minister's Research Fellowship" in the 3rd year of my PhD. Currently I'm pursuing my PhD. from "Indian Institute of Science, Bengaluru". </p>
                </div>       
            </div>
          
        </div>

        <div class="box ">
            <div class="content">
                <div class="des">
                    <h1 class="name" onclick="showDiv('saksham',this)">Saksham Katwal
                        <span class="arrow">▼</span>
                    </h1>
                 
                    <h3>Batch 2018-2022</h3>
                    <p>Department of Electronics & Communication Engineering</p>
                   
                </div>   
                <div class="bio" id="saksham">
                    <h3>Testimonial</h3>
                   <p>I began my journey in 2018, achieving a remarkable 73% in the non-medical stream during my +2 exams from HP Board. This achievement opened doors for me as I was selected to join JNGEC Sundernagar, a prestigious state-level engineering college through HPCET exam. I opted for B.Tech in Electronics and Communication Engineering, and it turned out to be a pivotal decision.

                    During my time at JNGEC, I was not just a student but an active participant in shaping the academic environment. I was chosen as the Class Representative for my batch, which allowed me to represent and advocate for my fellow students' needs and concerns. Additionally, I became a proud member of UBA (Unnat Bharat Abhiyan), contributing to the development of rural areas and making a positive impact on society. One of my notable accomplishments was the completion of an impressive project called "Automatic Street Line," showcasing my technical skills and ability to develop innovative solutions. To further expand my knowledge and gain practical experience, I undertook a pre final internship at SJVNL, where I had the opportunity to work on real-world engineering projects and collaborate with professionals in the industry. This experience solidified my understanding of engineering principles and sharpened my problem-solving abilities. In my final year, I was bestowed with the honor of being appointed as the Student Vice President of the IETE chapter in my college. This leadership role allowed me to organize technical events, workshops, and seminars, fostering a culture of learning and growth among my peers. <br>
                    
                    As I approached the end of my undergraduate journey, I received a prestigious internship offer from DRDO, a renowned organization in the field of defense research and development. This opportunity exposed me to cutting-edge technologies and research practices, deepening my passion for electronics and communication engineering. <br>
                    
                    Driven by my thirst for knowledge and academic excellence, I decided to pursue an M.Tech in Communication Systems and Networks at NIT Hamirpur. This decision has further enhanced my understanding of advanced concepts in the field, empowering me to become a specialist in my chosen domain.</p>
                </div>       
            </div>
            <div class="content img"><img src="images\saksham.png" alt="">
            
            </div>
        </div>
      
        <div class="box ">
            <div class="content img"><img src="images\dikshant.png" alt="">
            
            </div>
            <div class="content">
                <div class="des">
                    <h1 class="name" onclick="showDiv('dikshant',this)">Dikshant gautam
                        <span class="arrow">▼</span>
                    </h1>
                    <h3>Batch 2018-2022</h3>
                    <p>Department of Electronics & Communication Engineering</p>
                
                </div>   
                <div class="bio" id="dikshant">
                    <h3>Testimonial</h3>
                    <p>Dikshant Gautam is currently pursuing M.Tech in Communication System and Networks at the National Institute of Technology Hamirpur. Dikshant's passion lies in the field of 5G and 6G networks, as well as safeguarding and security within these advanced communication systems. <br>

                        With a background in Electronics and Communication Engineering, Dikshant's dedication to his studies and research is evident. During his B.Tech, he showcased his research skills by publishing a paper titled "IoT Based Traffic Monitoring System Using Energy Efficient Routing Scheme - ISBN 978-1-7281-6885-2." This achievement demonstrates his ability to contribute valuable insights to the field. <br>
                        
                         
                        
                        Furthermore, Dikshant's knowledge and expertise have been recognized on a broader scale. He has also published a full book chapter titled "Recent Advances of Wavelet Transform and Their Applications" in the book with the ISBN 978-1-80355-739-7. This achievement highlights his commitment to expanding the understanding of cutting-edge technologies and their practical applications.
                        <br>
                         
                        
                        Dikshant's dedication extends beyond academia. Throughout his B.Tech, he served as the Class Representative for all four consecutive years, showcasing his excellent leadership and organizational skills. Additionally, he held prominent positions such as Student President for the IETE student chapter at the institute level and Student Coordinator & SPOC for spoken tutorial-based activities. As the Student Head of the Technical Club and Activities, Dikshant exhibited his passion for creating engaging platforms for knowledge-sharing and skill development.
                        <br>
                         
                        
                        In summary, Dikshant Gautam's exceptional academic achievements, coupled with his leadership abilities and active involvement in various extracurricular activities, make him a highly commendable individual. His dedication to research and his passion for exploring the complexities of 5G and 6G networks make him a promising candidate for contributing to the advancement of the field. I have no doubt that Dikshant will continue to excel and make valuable contributions in his future endeavors.</p>
                </div>       
            </div>
          
        </div>
     
        <div class="box ">
          

            <div class="content">
                <div class="des">
                    <h1 class="name" onclick="showDiv('madhu', this)">Madhu bala
                        <span class="arrow">▼</span>
                    </h1>
                    
                    <h3>Batch-</h3>
                    <p>Department of Electronics & Communication Engineering</p>
                    
                </div>   
                <div class="bio" id="madhu">
                    <h3>Testimonial</h3>
                   <p>l am doing job positioned as a trainee engineer in the testing department at Mohali CDIl(Continental device India pvt ltd) Company phase 8 B. </p>
                </div> 
                     
            </div>
           <div class="content img"><img src="images\madhu.png" alt="">
           </div> 
        </div>
  
        <div class="box ">
            <div class="content img"><img src="images\nitin.png" alt="">
            </div> 

            <div class="content">
                <div class="des">
                    <h1 class="name" onclick="showDiv('nitin',this)">Nitin sharma
                        <span class="arrow">▼</span>
                    </h1>
                    
                    <h3>Batch 2015-2019</h3>
                    <p>Department of Electronics & Communication Engineering</p>
                    
                </div>   
                <div class="bio" id="nitin">
                    <h3>Testimonial</h3>
                   <p>This is to inform you that I joined oppo mobile India pvt ltd in 2019 in the month of May and my position was Engineer L1- Testing design  and I was attached to testing department. <br>

                    I joined Vivo mobile India pvt ltd in 2020 and served there at the post of Engineer-2  and I was attached to Hardware and performance testing department.
                    
                     </p>
                </div> 
                     
            </div>
          
        </div>
      
           
       <h1 class="title">Alumni Registration</h1>
        <div class="box"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfhFJ4qfFUbaQ9HEQ_jr6LF8ozUqMTYJNZLbDpSAMGPYytEkQ/viewform" width="800" height="680" allow="autoplay"></iframe></div>
                    
        </div>

       
      

        
    </div>
</section>
<%-include("partials/footer") %>