<%-include("partials/header") %>

<section class="achievements ">
    <h1 class="heading">Attendance ECE</h1>
    <div class="box-container">
        <div class="box">
            <div class="content att">
                <ol>
                    <li><a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vTNImrOLHKJEOVNAhWV9B2bB9nuPIrCSOqToKW44FZBI7A9UbvBUH3kEnBlCYCLhkeBxIdeLEp7yAGF/pubhtml" target="_blank" > Attendance 2nd year E&CE 
                       </a></li>
                    <li><a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSJ-NPTPsvgZLaBT1S18hTIiZZa_zkAs6qiYzg-BILvn35hiPEeXAJToLEVYHWu9Bt3k6mJvx5jmJs_/pubhtml" target="_blank">  Attendance 3rd year E&CE 
                        
                        </a></li>
                    <li><a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vTCkAN2T6A5i98ygK-V1EMJIDMJgBJQFUXvUGiCsbup1hGzMa5m4fQMrr5XukndvD0offOVZYiJcmek/pubhtml" target="_blank">Attendance 4th year E&CE 
                        
                       </a></li>
                   
                  
                </ol>
            </div>

        </div>




       
    </div>
    
</section>


<%-include("partials/footer") %>