<%-include("partials/header") %>
<section class="seminar">
    <h1 class="heading">Seminars  </h1>
   
    




    <div class="box">
        <div class="sem">
            <button onclick="window.location.href='https://www.youtube.com/playlist?list=PLQ644ysCszpciEL5W8VlvXPNrBQLnxz55'">
                <h1>Seminars (Batch 2021-2025)</h1>
            </button>
        </div>
    </div>
    
    <div class="box">
        <div class="sem">
            <button onclick="window.location.href='https://www.youtube.com/playlist?list=PLQ644ysCszpd_9O2-ULllpPzzQZFAf7bP'">
                <h1>Seminars (Batch 2020-2023)</h1>
            </button>
        </div>
    </div>


</div>
</div>
</section>

<%-include("partials/footer") %>