<%-include("partials/header") %>
<section class="vision">
    <h1 class="heading">Departmental Clubs</h1>
<div class="box-container">
     <div class="box">
        <div class="img"><img src="https://media.istockphoto.com/id/1362180770/photo/teamwork-and-creativity-concept.jpg?s=612x612&w=0&k=20&c=O1TIEuVHOs4-j3PZaolorzCb5wTsR5TWMu6ENlfun84=" alt="" class="img-class"></div>
        <div class="cont">
            <h1>Unleashing the Power of Passion and Collaboration</h1>
            <p>Welcome to our college's vibrant and dynamic Departmental Clubs page! Here, we celebrate the incredible diversity of academic disciplines and the boundless potential they hold. Our Departmental Clubs serve as the epicenter for like-minded students, each passionate about a specific area of study, to come together, connect, and explore their shared interests.</p>
            <p>  As you navigate this virtual hub, you'll discover an array of buttons representing various departments that make up the fabric of our institution. Each button is a gateway to a world of camaraderie and intellectual stimulation.</p>
        </div>
     <div class="box club">
        <div class="button"><a href="/">Technical Club</a></div>
        <div class="cont">
          <h1>
              Tech Innovators : Igniting Brilliance</h1>
          <p>The Technical Club in the ECE Department is a hub of innovation and knowledge, fostering a dynamic environment for students to explore and excel in the realm of technology. This club serves as a platform for aspiring engineers to expand their horizons, engage in hands-on experiences, and stay updated with the latest advancements in the field.  </p>
          <p> Through workshops, seminars, and interactive sessions, the Technical Club equips students with practical skills, problem-solving abilities, and a deeper understanding of cutting-edge technologies. From coding competitions to hardware projects, the club offers diverse opportunities for students to showcase their technical prowess and collaborate with like-minded individuals.</p>
      </div>
      <div class="box a ">
        <h1>Aim and objective</h1>
            <ul>
                <li>Igniting innovation, one idea at a time. </li>
                <li> Empowering members with cutting-edge technical skills.</li>
                <li>Fostering a culture of knowledge sharing and collaboration.</li>
                <li>Building a community of tech enthusiasts driving technological advancements.</li>
            </ul>
    </div>
        <section class="updates">
          <div class="box">
            <h1 class="title">Team Members</h1>
            <div class="img">
                
                <img src="/images/tech-1.jpg" alt="" class="clubsss">
                
            </div>
        </div>


          <div class="update-containers">
            <h1 class="heading"> Events</h1>
            <div class="scroll-wrapper">
              <div class="box">
                <p class="date">25TH SEPTEMBER, 2024
                </p>
                <div class="title"><a href="https://docs.google.com/document/d/1XbqxVfKCJtSv0alyOWdnwf3BKDvYLtYu/edit"</a>Report on EVENT DESIGN DUEL organized by Technical Club 
                </div>
              </div>
              <!-- <div class="box"> 
                <p class="date">Aug 30, 2023</p>
                <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
              </div>
             
              <div class="box">
                <p class="date">Aug 30, 2023</p>
                <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
              </div>
             
              <div class="box">
                <p class="date">Aug 30, 2023</p>
                <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
              </div>
             
              <div class="box">
                <p class="date">Aug 30, 2023</p>
                <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
               </div> -->
             
             
            </div>
          </div>
          
          
          
          
          
         
          
          </section>

        <div class="button"><a href="/">PD Club</a></div>
        <div class="cont">
          <h1>
              The Pathway to Personal Mastery</h1>
          <p>Personality development club was established from June 2022 in the ECE department. It focuses on the personality development of an individual. Personality development helps one to gain confidence and high self-esteem helps to develop a positive attitude in life and helps an individual to inculcate positive qualities like punctualities flexible attitude, willing ness to learn, friendly nature and eagerness to help others. It has a positive impact on one's communication skill and the way they see the world.  </p>
         
      </div>
      <div class="box a ">
          <h1>Aim and objective</h1>
              <ul>
                  <li>It aims to make students understand their uniqueness, talent and skills. </li>
                  <li>To develop personality traits and behavioral skills for healthy growth of the student.</li>
                  <li>Acquire leadership qualities and democratic attitude.</li>
                  <li>Develop competencies required for group living and sharing of responsibilities</li>
              </ul>
      </div>
        <section class="updates">
          <div class="box">
            <h1 class="title">Team Members</h1>
            <div class="img">
                
                <img src="/images/pd-111.jpg" alt="" class="clubsss">
                
            </div>
        </div>


          <div class="update-containers">
            <h1 class="heading"> Events</h1>
            <div class="scroll-wrapper">
              <div class="box">
                <p class="date">Aug 30, 2023</p>
                <div class="title"><a href="https://docs.google.com/document/d/1XOQnyff3h-t2Y5HGj8sGreJn7jb3a_Rg/edit"> Report on celebration of ‘National Engineer's Day’ organised by SENSITIZER Club,</a></div>
              </div>
              <div class="box">
                <p class="date">Aug 30, 2023</p>
                <div class="title"><a href="https://docs.google.com/document/d/1VndzRUE4DIT8h2mkJrN4s1jo7Kh9Rydj/edit"> Report on Debate Competition Organized by Psycheforge, Personality Development Club
                </a></div>
              </div>
             
              <div class="box">
                <p class="date">Aug 30, 2023</p>
                <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
              </div>
             
              <!-- <div class="box"> 
                <p class="date">Aug 30, 2023</p>
                <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
              </div>
             
              <div class="box">
                <p class="date">Aug 30, 2023</p>
                <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
               </div> -->
             
             
            </div>
          </div>
          
          
          
          
          
         
          
          </section>

        <div class="button"><a href="/">Cultural Club</a></div>
        <div class="cont">
          <h1>Talent Unleashed: Cultural Delights</h1>
          <p>Cultural club  is responsible for all the cultural events in the Institute around the year. Cultural club strives to bring out the hidden talent of the students of the college. It is the place where students can showcase what they have got. It helps to discover their talent. Cultural events include competitions such as instrumental, singing, dance etc. Every year this club organizes activities such as Talent Hunt, Fresher’s Party, Farewell, TWASK and Alumni Meet. Cultural club also celebrates festivals such as  Republic Day, Teacher’s day ,Yoga day Environment day etc which creates a vibrant atmosphere.  </p>
          <p>  But everyone needs some time off, to relax and recharge. Cultural Club  is the best place for this.</p>
      </div>
      <div class="box a ">
        <h1>Aim and objective</h1>
            <ul>
                <li>Showcasing diverse talents and promoting artistic expression. </li>
                <li> Creating a vibrant cultural atmosphere through festivals and events.</li>
                <li> Nurturing creativity and exploring various art forms.</li>
                <li>Bringing students together to celebrate and appreciate cultural diversity.</li>
            </ul>
    </div>
        <section class="updates">
          <div class="box">
            <h1 class="title">Team Members</h1>
            <div class="img">
                
                <img src="/images/cultural-poster.jpeg" alt="" class="clubsss">
                
            </div>
        </div>


          <div class="update-containers">
            <h1 class="heading"> Events</h1>
             <div class="scroll-wrapper"> 
              <!-- <div class="box"> 
                <p class="date">Aug 30, 2023</p>
                <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
              </div>
              <div class="box">
                <p class="date">Aug 30, 2023</p>
                <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
              </div>
             
              <div class="box">
                <p class="date">Aug 30, 2023</p>
                <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
              </div>
             
              <div class="box">
                <p class="date">Aug 30, 2023</p>
                <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
              </div>
             
              <div class="box">
                <p class="date">Aug 30, 2023</p>
                <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
               </div> -->
             
             
            </div>
          </div>
          
          
          
          
          
         
          
          </section>

        <div class="button"><a href="/">Sports Club</a></div>
        <div class="cont">
          <h1>
              Phoenix: Igniting Athletic Triumphs</h1>
          <p>Welcome to the exhilarating world of sports at our   esteemed ECE department, where the fiery spirit of competition meets the relentless pursuit of excellence. Step into the realm of athleticism and camaraderie as we proudly present to you the dynamic sports club of our institution, "Phoenix."

               </p>
          <p> "Phoenix" symbolizes the indomitable spirit that rises from the ashes, embodying the determination, resilience, and unwavering passion that our athletes bring to the field. We believe that sports are not just a form of recreation but a way of life, fostering discipline, teamwork, and personal growth.  </p>
      </div>
      <div class="box a ">
        <h1>Aim and objective</h1>
            <ul>
                <li>Cultivating a culture of sportsmanship, teamwork, and personal growth.</li>
                <li> Providing opportunities for athletes to showcase their skills and compete at various levels.</li>
                <li> Promoting physical fitness and well-being among students through active participation in sports.</li>
                <li>Fostering a sense of camaraderie and school spirit through sporting events and competitions </li>
            </ul>
    </div>

</div>
        <section class="updates">
          <div class="box">
            <h1 class="title">Team Members</h1>
            <div class="img">
                
                <img src="/images/sports-club1.jpeg" alt="" class="clubsss1">
                
            </div>
        </div>


          <div class="update-containers">
            <h1 class="heading"> Events</h1>
            <div class="scroll-wrapper">
              <div class="box">
                <p class="date">Aug 30, 2023</p>
                <div class="title"><a href="https://docs.google.com/document/d/10x7rwkap_CqcBrYt-njlAlsgehZiiIzR/edit"> Report on VOLLEYBALL TOURNAMENT organised by SPORTS CLUB “PHEONIX” .</a></div>
              </div>
              <!-- <div class="box"> 
                <p class="date">Aug 30, 2023</p>
                <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
              </div>
             
              <div class="box">
                <p class="date">Aug 30, 2023</p>
                <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
              </div>
             
              <div class="box">
                <p class="date">Aug 30, 2023</p>
                <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
              </div>
             
              <div class="box">
                <p class="date">Aug 30, 2023</p>
                <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
               </div> -->
             
             
            </div>
          </div>
          
          
          
          
          
         
          
          </section>


     </div>
</div>
   
    </div>
    <section class="gallery-container">
        <div class="slideshow-container">
      
          
          
           <div class="mySlides fade">
            <img src="images/debate-1.jpg" style="width:100%">
            <div class="text">Debate Competition</div>
          </div>
          
           <div class="mySlides fade"> 
            <img src="images/impr-.jpg" style="width:100%">
            <div class="text">Debate Competition</div>
          </div>
           <div class="mySlides fade"> 
            <img src="images/IMG-20240906-WA0137.jpg" style="width:100%">
            <div class="text">Teachers day celebration-2023</div>
          </div>
         
           <div class="mySlides fade"> 
            <img src="images/IMG-20240906-WA0099.jpg" style="width:100%">
            <div class="text">Teachers Day Clebration -2024</div>
          </div>
           <div class="mySlides fade"> 
            <img src="images/IMG-20240906-WA0135.jpg" style="width:100%">
            <div class="text">Teachers Day Clebration -2024</div>
          </div>
          <div class="mySlides fade"> 
            <img src="images/IMG-20240906-WA0123.jpg" style="width:100%">
            <div class="text">Teachers Day Clebration -2024</div>

           <!-- <div class="mySlides fade"> 
            <img src="images/IMG-20240906-WA0135.jpg" style="width:100%">
            <div class="text">Teachers Day Clebration -2024</div>
           </div>  -->
<!--           
        <div class="mySlides fade">
            <img src="images/sp2.jpg" style="width:100%">
            <div class="text">Teachers Day Clebration -2024</div>
           </div>  -->
           
          
          <a class="prev" onclick="plusSlides(-1)"><i class="fa-solid fa-caret-left"></i></a>
          <a class="next" onclick="plusSlides(1)"><i class="fa-solid fa-caret-right"></i></a>
          
        </div>
          <br>
          
          <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span> 
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span>
      <span class="dot" onclick="currentSlide(6)"></span>
      <span class="dot" onclick="currentSlide(7)"></span>
    </div>
      
      <!-- =========================to know more about the deparetements================== -->
      </section>


      
</section>
<%-include("partials/footer") %>