<%-include("partials/header") %>

<!-- =========================to know more about the deparetements================== -->
</section>
<section class="knowmore">
  <div class="konwmore-container">
    <h1 class="heading">To Know More About the Department Please Follow Below links:</h1>
  <div class="row-home">
    <div class="col-home"><button class="button1"><a href="/home">About the Department</a></button></div>
    <div class="col-home"><button class="button1"><a href="/hodmsg">HoD's Message</a></button></div>
    <div class="col-home"><button class="button1"><a href="/vision">Vision & Mission</a></button></div>
  
  </div>
  <div class="row-home">
    <div class="col-home"><button class="button1"><a href="/peo">PEO's, PO's & PSO's</a></button></div>
    <div class="col-home"><button class="button1"><a href="/fac">Faculty/Staff</a></button></div>
    
    <div class="col-home"><button class="button1"><a href="/tech">Course Outcome</a></button></div>
  </div>
  </div>
  </section>










<%-include("partials/footer") %>