<%-include("partials/header") %>

<section class="vision">
    <h1 class="heading">Cultural Club</h1>
<div class="box-container">
    <div class="box">
        <div class="img"><img src="https://tourismnotes.com/wp-content/uploads/Cultural-Tourism-scaled.jpg" alt="">
        </div>
        <div class="cont">
            <h1>Talent Unleashed: Cultural Delights</h1>
            <p>Cultural club  is responsible for all the cultural events in the Institute around the year. Cultural club strives to bring out the hidden talent of the students of the college. It is the place where students can showcase what they have got. It helps to discover their talent. Cultural events include competitions such as instrumental, singing, dance etc. Every year this club organizes activities such as Talent Hunt, Fresher’s Party, Farewell, TWASK and Alumni Meet. Cultural club also celebrates festivals such as  Republic Day, Teacher’s day ,Yoga day Environment day etc which creates a vibrant atmosphere.  </p>
            <p>  But everyone needs some time off, to relax and recharge. Cultural Club  is the best place for this.</p>
        </div>
        <div class="box a ">
            <h1>Aim and objective</h1>
                <ul>
                    <li>Showcasing diverse talents and promoting artistic expression. </li>
                    <li> Creating a vibrant cultural atmosphere through festivals and events.</li>
                    <li> Nurturing creativity and exploring various art forms.</li>
                    <li>Bringing students together to celebrate and appreciate cultural diversity.</li>
                </ul>
        </div>

    </div>
    <div class="box">
        <h1>Members</h1>
        <div class="grid">
            <div class="member">
                <img src="/images/mehak.jpg" alt="Mehak">
                <h3>Mehak</h3>
                <p>Co-ordinator</p>
            </div>
            <div class="member">
                <img src="/images/ayushi.jpg" alt="ayushi">
                <h3>Ayushi</h3>
                <p>Co-ordinator</p>
            </div>
            <div class="member">
                <img src="/images/kanika.jpg" alt="Kanika">
                <h3>Kanika</h3>
                <p>Member</p>
            </div>
            <div class="member">
                <img src="/images/kanishka.jpg" alt="kanishka">
                <h3>Kanishka</h3>
                <p>Member</p>
            </div>
            <div class="member">
                <img src="/images/aarti.jpg" alt="Aarti">
                <h3>Aarti</h3>
                <p>Member</p>
            </div>
            <div class="member">
                <img src="/images/member1.jpg" alt="member">
                <h3> Inderjeet </h3>
                <p>Member</p>
            </div>
            <div class="member">
                <img src="/images/member-2.jpg" alt="Anshdeep">
                <h3>Anshdeep</h3>
                <p>Member</p>
            </div>
            <div class="member">
                <img src="/images/sahil.jpg" alt="sahil">
                <h3>Sahil</h3>
                <p>Member</p>
            </div>
            <div class="member">
                <img src="/images/manish.heic" alt="Manish">
                <h3>Manish</h3>
                <p>Member</p>
            </div>
            <!-- <div class="member"> 
                <img src="/images/aniket.png" alt="Aniket">
                <h3>Aniket</h3>
                <p>Member</p>
            </div>
            <div class="member">
                <img src="/images/akhil.png" alt="Akhil Sharma">
                <h3>Akhil Sharma</h3>
                <p>Member</p>
            </div>
            <div class="member">
                <img src="/images/akash.png" alt="Akash">
                <h3>Akash</h3>
                <p>Member</p>
             </div> -->
        </div>
     </div> 
    <div class="box">
        <h1>Events</h1>

        <div class="event-box">
            <div class="event">
                <div class="img ab">
                <img src="/images/photo.png" alt="" >
                </div>
           
                <div class=" ab"  onclick="showDiv('event1')">Photography contest </div> 
            </div>
           
           
            <div class="bio" id="event1">
                <p>
                    
                    On October 5, 2022, a "photography competition" was organised by the Cultural Club of the Electronic and Communication Engineering Department. The theme of the photography competition was "Nature." The cultural club's president ran the competition online. This competition aimed to develop photography skills and the ability to critically examine angles of nature among the students. Thirty students participated with full zeal in this competition. The photographs taken by the students were striking. <br>

                    The pictures were judged by the faculty of the ECE department, Asst. Prof. Manvi Sharma and Asst. Prof. Pooja Sharma. After the completion of this competition, winners were announced and given prizes. <br>

                    Winners: <br>

                    1st Zubair Ahmad Sofi (6th sem) <br>

                    2nd Adarsh Guleria (6th sem)  <br>

                    3rd Ayush (4th sem)</p>

                </div> 
         
          
        </div>

        
        <div class="event-box">
            <div class="event">
               
           
                <div class=" ab"  onclick="showDiv('event2')">Mehndi contest </div> 
                 <div class="img ab">
                <img src="/images/mehendi.png" alt="">
                </div>
            </div>
           
           
            <div class="bio" id="event2">
                <p>
                    On 12 October 2022 Mehndi Competition was organised by the cultural club of the department. Students of Electronics and Communication department participated in the event with great enthusiasm and zeal. They created beautiful design and showcased their artistic skills. Prof. Himanshu Monga. HOD ECE, encouraged and appreciated the student and the department for putting in efforts to keep this cultural and traditional art form alive. 
                    <br>
                    Winners: <br>
                    
                    1st Priyanka (6th sem) <br>
                    
                    2nd Shivanshi (6th sem) <br>
                    
                    3rd Ishita (4th sem)
                     </p>

                </div> 
         
          
        </div>

        <div class="event-box">
            <div class="event"> 
                
                <div class="img ab">
                <img src="/images/singing.png" alt="">
                </div>
                <div class=" ab"  onclick="showDiv('event3')">Singing contest</div> 
               
            </div>
           
           
            <div class="bio" id="event3">
                <p>On 18 April 2023 Singing Competition was organised by the cultural club of the department. Student of E.C.E , ME & C.S.E department participated in the event. <br>

                    Everyone gave a brilliant and mind-blowing performance. Everyone enjoy a lot. Prof. Nitasha bisht HOD E.C.E and Asst.Prof. Pooja Sharma were the judges of that competition. At the end of the competition, both of the teachers finalize the talented students & winners were announced and given prizes. <br>
                    
                    Winners: <br>
                    
                   1st Deeraj (4th sem ECE) <br>
                    
                   2nd  Tushar (6th sem ECE) <br>
                    
                    3rd Aditya (4th sem ME)
                </div> 
         
          
        </div>
             
        <div class="event-box">
            <div class="event">
               
           
                <div class=" ab"  onclick="showDiv('event4')">Kalakriti Mehndi and Drawing Competition </div> 
                 <div class="img ab">
                <img src="/images/cul-comp.jpg" alt="">
                </div>
            </div>
           
           
            <div class="bio" id="event4">
                <p>
                    The Kalakriti Mehndi and Drawing Competition, organized on October 19, 2024, by the Fusionist Club, ECE Department, JNGEC, was a grand success. Participants created stunning Navratri-themed drawings, while girls showcased beautiful Mehndi designs, celebrating creativity, tradition, and festive spirit.
                    <br>
                    Winners: <br>
                    Mehndi competision
                    1st Dipti (5th sem) <br>
                    
                    2nd Inderjeet (3rd sem) <br>
                    
                
                     </p>

                </div> 
         
          
        </div>

    </div>

   
 

    <div class="box club">
        <h1>Other Clubs</h1>
        <div class="button"><a href="/tech">Technical Club</a></div>
        <div class="button"><a href="/pd">PD Club</a></div>
        
        <div class="button"><a href="/spo">Sports Club</a></div>

     </div>
</div>
   
    
</section>

<%-include("partials/footer") %>