<%-include("partials/header") %>
<section class="achievements ">
    <h1 class="heading">e-Grievance </h1>
    <div class="box-container">
       
        <div class="box">
            <h1 class="title">Grievance Redressal</h1>
            <div class="content">
                <p>The Student's Grievance Cell desires to promote and maintain a conducive and unprejudiced educational environment. The objectives of Students Grievance Cell include the following:</p>
                <ol>
                    <li>To support, those students who have been deprived of the services offered by the College, for which he/she is entitled.</li>
                    <li>To make officials of the department responsive, accountable and courteous in dealing with the students.</li>
                    <li>To ensure an effective solutions to the student's grievances with an impartial and fair approach.</li>

                </ol>
                <p>The Cell enables a student to express feelings by initiating and pursuing the grievance procedure in accordance with the rules and regulations of the College. 'Student's Grievance Cell' enquires and analyses the nature and pattern of the grievances in a strictly confidential manner. Emphasis on procedural fairness has been given with a view to “the right to be heard and right to be treated without bias”.</p>
            </div>

        </div>
        <div class="box">
                    <h1 class="title">Problem ? Write Your Grievance
                    </h1>
                    <div class="content">
                        <ol>
                            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSe8H_Ix-G3CEmvj3ydupNKdzUkWQLTxgD5XvNuH611_Kbj51g/viewform" target="_blank"> e-Grievance (Students) </a></li>
                            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSeJY2Gx693Lf77-kgxCY1ai6S33BFFbYF60O8CpkAEHGdYmqA/viewform" target="_blank"> e-Grievance(Faculty / Staff)  
                                 </a></li>
                            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfHiOZ52VpSjGcO4R8O5XBFWNvDUVLPjTH3TmqJD2s_37DZqw/viewform" target="_blank">E-GRIEVANCE (PARENTS / STAKEHOLDERS)</a></li>
                           
        
                        </ol>
                    </div>
        
                </div>



    
    
</section>
<%-include("partials/footer") %>