<%-include("partials/header") %>

<section class="faculty">
    <h1 class="heading">Intellectual Property E&CED</h1>
    <div class="box-container">



        


         <div class="box ">
            <div class="content img"><img src="images\Nitasha.jfif" alt="">
            
            </div>

            <div class="content">
                <div class="des">
                    <h1 class="name" onclick="showDiv('nitasha', this)">
                        Dr. Nitasha Bisht
                        <span class="arrow">▼</span>
                    </h1>
                    <p>Officer In-Charge/Head of the Department<br/></p>
                    <h3>Contact Detail</h3>
                    <p>Department of Electronics & Communication Engineering</p>
                    <a href="mailto:bisht19876@yahoo.co.in">
                        <span>Email</span>: bisht19876@yahoo.co.in
                    </a>
                </div>   
                <div class="bio" id="nitasha">
                    <h3>Biography</h3>
                    <dl>
                        <dt>Education Qualification:</dt> 
                        <dd>B. Tech from Himachal Pradesh University, Shimla, M. Tech from Jaypee University of Information Technology, Solan, India, Pursuing Ph. D from Lovely Professional University, Jalandhar .</dd>

                        <dt>Specializations: </dt>
                        <dd>Wireless communication systems, Microstrip Patch Antenna, MIMO Antennas, 5G technology.</dd>

                        <dt>Work Experience:</dt> 
                        <dd>12.6 Years</dd>

                        <dt>Professional Experience: </dt>

                        <dd>
                        <ul>
                            <li>Head/Officer In-Charge, Department of Electronics & Communication Engineering, Jawaharlal Nehru Government Engineering College Sundernagar District Mandi (HP) from (January 20th, 2014 to August 16th, 2014), (February 18th, 2015 - August 29th, 2017), (March 4th, 2023 - Till date).</li>
                            <li>Chairman of Institutional College Magazine “Reflexia”.</li>
                            <li>Member Secretary of Institute "Internal Complaints Committee".</li>
                            <li> Member of Institutional "Library Committee".</li>
                            <li>Attended Two Weeks TEQIP-II Sponsored "Networking and Study Tour" to Singapore and Australia from 16-04-2016 to 28-04-2016.</li>
                            <li>Faculty Coordinator of Jawaharlal Nehru Government Engineering College Annual Techno Cultural Fest “TWASK 2014”.</li>
                        </ul>

                        </dd>

                        <dt>Research Experience:</dt>
                        <dd>4.6 Years.</dd> 

                        <dt>Google scholar link:</dt> 
                        <dd><a href="https://scholar.google.com/citations?user=0sKLclEAAAAJ&amp;hl=en">Click Here</a> </dd> 

                        <dt>Cabin Number:</dt> 
                        <dd>6th Floor, C Block, HOD Cabin</dd>
                    </dl>
                </div>       
            </div>
          
        </div> 

        
        

        <div class="box ">
            <div class="content">
                <div class="des">
                    <h1 class="name" onclick="showDiv('pooja', this)">
                        Ms. Pooja Sharma
                        <span class="arrow">▼</span>
                </h1>
                <p>Assistant Professor</p>
                <p>Department of Electronics & Communication Engineering</p>
                    <h3>Contact Detail</h3>
                   
                    <a href="mailto:poojasharmas1988@yahoo.in"><span>Email</span> : poojasharmas1988@yahoo.in</a>
                </div>   
                <div class="bio" id="pooja">
                    <h3>Biography</h3>
                    <dl>
                        <dt>Education Qualification:</dt> 
                        <dd> B. Tech (Electronics & Communication),  M. Tech( ECE) .</dd>

                        <dt>Specializations: </dt>
                        <dd>Digital Image Processing.</dd>

                        <dt>Work Experience:</dt> 
                        <dd>10Years</dd>

                        <dt>Research Experience:</dt>
                        <dd>5 Years.</dd> 
                    </dl>
                </div>       
            </div>
            <div class="content img"><img src="images\pooja.png" alt="">
            
            </div>
        </div>


        <div class="box">
            <div class="content img"><img src="images/sanjeev-sir.jpg" alt=""></div>
        
            <div class="content">
                <div class="des">
                    <h1 class="name" onclick="showDiv('sanjeev', this)">
                        Mr. Sanjeev Kumar
                        <span class="arrow">▼</span>
                    </h1>
                    <p>Assistant Professor</p>
                    <p>Department of Electronics & Communication Engineering</p>
                    <h3>Contact Detail</h3>
                    <a href="mailto:sanjeev@example.com"><span>Email</span>: sanjeev@example.com</a>
                </div>   
        
                <!-- Biography Section (Initially Hidden) -->
                <div class="bio" id="sanjeev">
                    <h3>Biography</h3>
                    <dl>
                        <dt>Education Qualification:</dt> 
                        <dd>Ph.D. in Electronics & Communication Engineering</dd>
        
                        <dt>Specializations:</dt>
                        <dd>VLSI Design, Digital Communication, Signal Processing</dd>
        
                        <dt>Work Experience:</dt> 
                        <dd>15 Years</dd>
        
                        <dt>Google Scholar Link:</dt> 
                        <dd><a href="https://scholar.google.com">Click Here</a></dd> 
        
                        <dt>Cabin Number:</dt> 
                        <dd>3rd Floor, C Block</dd>
                    </dl>
                </div>       
            </div>
        </div>
        <div class="box ">
            <div class="content">
                <div class="des">
                    <h1 class="name" onclick="showDiv('akshay', this)">Mr. Akshay Kanwar
                        <span class="arrow">▼</span>
                    </h1>
                    <p>Assistant Professor</p>
                    <p>Department of Electronics & Communication Engineering</p>
                    <h3>Contact Detail</h3>
                   
                    <a href="mailto:akshay.jngec@gmail.com"><span>Email</span>:  akshay.jngec@gmail.com</a>
                </div>   
                <div class="bio" id="akshay">
                    <h3>Biography</h3>
                    <dl>
                        <dt>Education Qualification:</dt> 
                        <dd>M. Tech ECE.</dd>

                        <dt>Specializations: </dt>
                        <dd>Image Processing.</dd>

                        <dt>Work Experience:</dt> 
                        <dd>8 Years</dd>

                        <dt>Professional Experience: </dt>

                        <dd>
                        <ul>
                            <li>Served as Coordinator Website & Networking Cell at RGGEC Kangra for 3 years </li>
                            <li>Served as Nodal Officer Aadhar Biometric Attendance System at RGGEC Kangra for 3 years</li>
                            <li>Served as SPOC for ERP system in collaboration with IIT Kharagpur and NPIU New Delhi at RGGEC Kangra during TEQIP-III project.</li>
                            <li> Served as Spoken Tutorials coordinator (a project of IIT Bombay and MHRD) at RGGEC Kangra.</li>
                        </ul>

                        </dd>

                        <dt>Research Experience:</dt>
                        <dd>2Years.</dd> 


                        
                    </dl>
                </div>       
            </div>
            <div class="content img"><img src="images\akshay.png" alt="">
            
            </div>
          
        </div>
        <div class="box ">
            <div class="content img"><img src="images\rita.png" alt="">
            
            </div>

            <div class="content">
                <div class="des">
                    <h1 class="name" onclick="showDiv('rita', this)">Ms. Rita Devi
                        <span class="arrow">▼</span>
                    </h1>
                    <p>Assistant Professor</p>
                    <p>Department of Electronics & Communication Engineering</p>
                    <h3>Contact Detail</h3>
                    <a href="mailto:ritadevi@gmail.com"><span>Email</span>: ritadevi@gmail.com</a>
                </div>   
            
                <!-- Biography section for Ms. Rita Devi -->
                <div class="bio" id="rita">
                    <h3>Biography</h3>
                    <dl>
                        <dt>Education Qualification:</dt> 
                        <dd>M. Tech in Electronics & Communication Engineering</dd>
            
                        <dt>Specializations:</dt>
                        <dd>Embedded Systems, Digital Signal Processing, Wireless Communication</dd>
            
                        <dt>Work Experience:</dt> 
                        <dd>10 Years</dd>
            
                        
                        <dt>Cabin Number:</dt> 
                        <dd>4th Floor, C Block</dd>
                    </dl>
                </div>       
            </div>
          
        </div>
        <div class="box ">
          

            <div class="content">
                <div class="des">
                    <h1 class="name" onclick="showDiv('rasna',this)">Ms Rasna Thakur
                        <span class="arrow">▼</span>
                    </h1>
                    <p> Lab. Technician</p>
                    <h3>Contact Detail</h3>
                    <p>Department of Electronics & Communication Engineering</p>
                    <a href="mailto: rasnathakur3@gmail.com"><span>Email</span> :  rasnathakur3@gmail.com</a>
                </div>   
                <div class="bio" id="rasna">
                    <h3>Biography</h3>
                    <dl>
                        <dt>Education Qualification:</dt> 
                        <dd>M. Tech ECE .</dd>


                        <dt>Work Experience:</dt> 
                        <dd>8 Years</dd>

                     
                    </dl>
                </div> 
                     
            </div>
           <div class="content img"><img src="images\rasna.png" alt="">
           </div> 
        </div>
  
        <h1 class="heading">
            Intellectual Property EED
        </h1>
        <div class="box ">
            <div class="content img"><img src="images\manvi.png" alt="">
            
            </div>

            <div class="content">
                <div class="des">
                    <h1 class="name" onclick="showDiv()">Ms Manvi Sharma</h1>
                    <p>Assistant Professor</p>
                    <p>Department of Electronics & Communication Engineering</p>
                    <h3>Contact Detail</h3>
                    <p>Department of Electronics & Communication Engineering</p>
                    <a href="mailto:manavi.75088@gmail.com" ><span>Email</span> : manavi.75088@gmail.com</a>
                </div>   
                    
            </div>
          
        </div>
        <div class="box t">
            <iframe src="https://drive.google.com/file/d/179EZ6W3xEWvra17BzNnE6q1mUKaHFYLQ/preview" width="800" height="1000" allow="autoplay"></iframe>
        </div>

        
    </div>
</section>




<%-include("partials/footer") %>