<%-include("partials/header") %>


<section class="achievements ">
    <h1 class="heading">Final Result</h1>
    <div class="box-container">
        <div class="box">
            
            <div class="content att">
                <ol>
                    <li><a href="https://docs.google.com/spreadsheets/d/1GEtBpS3fJ6z1f_5CD3sbX0HpzhjIalcQ8ljxAmkpHfo/edit?gid=480141834#gid=480141834" target="_blank" >B.Tech III Semester Regular (CBCS) Dec, Result 2022 (ECE) 
                    <li><a href="https://docs.google.com/spreadsheets/d/1jyHrKB_1rnEK1cDFN4PZw4SpgOHledWsZQ43xKyxdF0/edit?gid=1574229596#gid=1574229596" target="_blank"> B.Tech V Semester Regular (CBCS) Dec, Result 2022 (ECE) 
                        </a></li>
                    <li><a href="https://docs.google.com/spreadsheets/d/1ZzRUf8bu8d_-52lQVACVN0AaV-s9g9JbWp5TQizcMsA/edit?gid=1669393409#gid=1669393409" target="_blank">B.Tech VII Semester Regular (CBCS) Dec, Result 2022 (ECE) 
                       </a></li>
                    
                  
                </ol>
            </div>

        </div>
        



       
    </div>
    
</section>

<%-include("partials/footer") %>