<%-include("partials/header") %>
<section class="about-dept">
    <h1 class="heading">Message from Head of the Depatment</h1>
    <div class="box-container">
        <div class="box">
          <img src="images/Nitasha.jfif" alt="aluminis" class="hod-img">
          <div class="title">
            <h1>Mrs. Nitasha Bisht</h1>
            <p>Officer In-Charge</p>
          </div>
        </div>
        <div class="box">
           <p>I welcome all the students & their parents to the Department of Electronics and Communication Engineering (ECE). Electronics and Communication Engineering is an essence of today's world. We are committed to providing not only the technical education to our students but also the leadership qualities through which they can create employment to others. 
            </p>
          <p>
            JNGEC has been established with the legacy of 12 years of academic excellence in Himachal state and ECE is one of its founding pillars. The sole vision of Electronics and Communication Engineering Department is to achieve academic excellence and become pace setter by opting quality processes interwoven with freedom of flexibility and to mold professionals of superior quality dedicated to the progress and development of humanity.

          </p>

          <p>
            Skill & knowledge relevant to real world problem are inseminated to produce dynamic, socially conscious, sensitive human beings.
            
          </p>
          <p>
            ECE focuses on holistic development of the students by a combination of both curricular and extracurricular activities. We believe that to develop a tender mind we need to go beyond class room teaching and we realize that in our department, which helps to make the students industry ready.
          </p>
          <p>
            In ECE you will study and apply your knowledge in understanding what electronic circuits are, as how to make the chips and integrated circuits, tools for testing of the equipment's, the radiofrequency end of the circuitry, the generations of mobile communications, latest technologies such a Android, Arduino, Raspberry Pi and more. The Department also takes initiative to improve the soft skills, analytical capabilities and verbal communication of the students so that they can face the competition in the corporate world confidently.
          </p>
            
           <p>
            The excellent infrastructure, teaching faculty of the best kind of the Department ensuring quality education such as interaction among students, parents and staff, along with a Training and Placement Cell ensures a bright future to its students. The Department of ECE is striving hard towards the goal of providing innovative and quality education with high standard to achieve academic excellence and provides platform for the students to achieve their career goals.
           </p>
           <p>
            The Department has a team of highly experienced and motivated faculty members who are in the process of tuning the young minds to make them globally competitive. Department has an excellent infrastructural and computing facilities and provides a conducive environment to promote academic and research excellence in the department. Above all, the entire teaching fraternity of the Department of ECE look forward to the holistic growth of the department and they aim at doing something extraordinarily remarkable in the academic arena of Electronics and Communication Engineering. I congratulate to the team of faculty members and the students for their brilliant and original efforts.
           </p>
           <p>
            I wish all the Students and Faculty a great academic career.
           </p>
            
           
            
           <p>
            HOD of the Department <br>
            
            Electronics and Communication Engineering, <br>
            
            JNGEC Sundernagar

           </p>
            
         
            
  
            
           
            
            
           
        </div>
    </div>
  </section>



<%-include("partials/footer") %>