<%-include("partials/header") %>




<!-- ===============about department================= -->
<section class="about-dept">
    <h1 class="heading">About the Department</h1>
    <div class="box-container">
        <div class="box">
          <!-- <img src="images/alumini.png" alt="aluminis" > -->
          <img src="images/new-jngec2.jpeg" alt="aluminis" >
        </div>
        <div class="box">
           <p>
              Amidst the lush green mountainous campus of JNGEC, Sundernagar, the department of Electronics and Communication Engineering stands tall since the introduction of the programme in the institute. The department envisions holistic development of its students with the help of expert faculty, well equipped laboratories and a healthy learning and working environment. The focus of the department is to discover the true potential of students by creating a challenging yet interesting curriculum.......<button class="btn-kowmore"><a href="about">Know more<< </a></button>
           </p>
           
           
        </div>
    </div>
    <div class="box-container nba-container">
      <div class="box">
        <h1>Programme Accredited By NBA</h1>
        <ul>
          <li><strong>Programme :</strong> UG in Electronics and Communication Engineering </li>
          <li><strong>Approved intake :</strong> 60</li>
        </ul>
      </div>
      <div class="box ">
        <img src="images/nba.png" class="nba" alt="nba" >
      </div>
    </div>
    



</section>

<!-- =================updates section=============== -->

<section class="updates">

<div class="update-containers">
  <h1 class="heading">News & Events</h1>
  <div class="scroll-wrapper">
    <div class="box">
      <p class="date">Aug 30, 2023</p>
      <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
    </div>
    <div class="box">
      <p class="date">Aug 30, 2023</p>
      <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
    </div>
   
    <div class="box">
      <p class="date">Aug 30, 2023</p>
      <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
    </div>
   
    <div class="box">
      <p class="date">Aug 30, 2023</p>
      <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
    </div>
   
    <div class="box">
      <p class="date">Aug 30, 2023</p>
      <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
    </div>
   
   
  </div>
</div>





<div class="update-containers">
  <h1 class="heading">Latest Notifications</h1>
  <div class="scroll-wrapper">
    <div class="box">
      <p class="date">Aug 30, 2023</p>
      <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
    </div>
   
    <div class="box">
      <p class="date">Aug 30, 2023</p>
      <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
    </div>
   
    <div class="box">
      <p class="date">Aug 30, 2023</p>
      <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
    </div>
   
    <div class="box">
      <p class="date">Aug 30, 2023</p>
      <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
    </div>
   
    <div class="box">
      <p class="date">Aug 30, 2023</p>
      <div class="title"><a href=""> Sensitization of Semiconductor Ecosystem at IIT Ropar and IIT Delhi for Faculty of Himachal Engineering Colleges.</a></div>
    </div>
   


  </div>
</div>


</section>
<!-- ==================gallery===================== -->

<section class="gallery-container">
  <h1 class="gallery">Gallery @ E&CED</h1>
  <div class="slideshow-container">


    <div class="mySlides fade">
      <img src="images/banner-1.jpeg" style="width:100%">
      <div class="text">"SMART INDIA HACKATHON" - 2023 </div>
    </div>
    <!-- <div class="mySlides fade">
      <img src="images/banner-2.jpeg" style="width:100%">
      <div class="text">"SMART INDIA HACKATHON" - 2023 </div>
    </div> -->
    
    <div class="mySlides fade">
      <img src="images/gimg2.png" style="width:100%">
      <div class="text">PCB Designing workshop</div>
    </div>
    
    <div class="mySlides fade">
      <img src="images/gimg3.png" style="width:100%">
      <div class="text">PCB Designing workshop</div>
    </div>
    <div class="mySlides fade">
      <img src="images/gimg4.png" style="width:100%">
      <div class="text">Workshop on "React develoment in Machine learning in IIT UNA</div>
    </div>
    <div class="mySlides fade">
      <img src="images/pic-1.jpg" style="width:100%">
      <div class="text">Bhabha Atomic Research center Guest Lecture</div>
    </div>
    <div class="mySlides fade">
      <img src="images/pic-2.jpg" style="width:100%">
      <div class="text">Drone Technology Guest Lecture</div>
    </div>
    <div class="mySlides fade">
      <img src="images/pic-4.jpg" style="width:100%">
      <div class="text">Teachers Day Clebration -2024</div>
    </div>
    <div class="mySlides fade">
      <img src="images/pic-5.jpg" style="width:100%">
      <div class="text">Teachers Day Clebration -2024</div>
    </div>
    <div class="mySlides fade">
      <img src="images/hk1.jpeg" style="width:100%">
      <div class="text">"SMART INDIA HACKATHON" - 2023 </div>
    </div>
    <a class="prev" onclick="plusSlides(-1)"><i class="fa-solid fa-caret-left"></i></a>
    <a class="next" onclick="plusSlides(1)"><i class="fa-solid fa-caret-right"></i></a>
    
  </div>
    <br>
    
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span> 
      <!-- <span class="dot" onclick="currentSlide(2)"></span>  -->
      <span class="dot" onclick="currentSlide(3)"></span> 
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span>
      <span class="dot" onclick="currentSlide(6)"></span>
      <span class="dot" onclick="currentSlide(7)"></span>
      <span class="dot" onclick="currentSlide(8)"></span>
      <span class="dot" onclick="currentSlide(9)"></span>
    </div>
  </section>
<!-- =========================to know more about the deparetements================== -->

<section class="knowmore">
  <div class="konwmore-container">
    <h1 class="heading">To Know More About the Department Please Follow Below links:</h1>
  <div class="row-home">
    <div class="col-home"><button class="button1"><a href="/home">About the Department</a></button></div>
    <div class="col-home"><button class="button1"><a href="/hodmsg">HoD's Message</a></button></div>
    <div class="col-home"><button class="button1"><a href="/vision">Vision & Mission</a></button></div>
  
  </div>
  <div class="row-home">
    <div class="col-home"><button class="button1"><a href="/peo">PEO's, PO's & PSO's</a></button></div>
    <div class="col-home"><button class="button1"><a href="/fac">Faculty/Staff</a></button></div>
    
    <div class="col-home"><button class="button1"><a href="/pd">Course Outcome</a></button></div>
  </div>
  </div>
  </section>

<!-- =============== numbers section ============== -->
<div class="numbers-section">
  <div class="box-container">
   <div class="box">
     <div class="icon"><img src="images/users-alt.png" alt=""></div>
     <div class="content">
        <p class="counter" data-target="250">0</p>
       <p>Students Enrolled</p>
     </div>
  </div>
  <div class="box">
   <div class="icon"><img src="images/user.png" alt=""></div>
   <div class="content">
     <p class="counter" data-target="10">0</p>
     <p>Teaching & Research Staff</p>
   </div>
 </div>
 <div class="box">
   <div class="icon"><img src="images/degree-credential.png" alt=""></div>
   <div class="content">
     <p class="counter" data-target="2000">0</p>
     <p>Degrees Awarded</p>
   </div>
 </div>
 <div class="box">
   <div class="icon"><img src="images/search-alt.png" alt=""></div>
   <div class="content">
     <p class="counter" data-target="50" > 0</p>
     <p>Research Publications</p>
   </div>
 </div>
 </div>
 </div>
 

<section class="section9">
  <div class="container">
    <div class="row-home">
      <div class="col-home">
        <div class="map-location">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3401.2948635420266!2d76.87584397540572!3d31.516060474215937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390519c99ae9747d%3A0x371b44d0ad43d692!2sJawaharlal%20Nehru%20Government%20Engineering%20College!5e0!3m2!1sen!2sin!4v1723118314964!5m2!1sen!2sin"
            width="600px" height="280px" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <div class="col-home" style="margin-left: 7rem;">
        <div class="Contact-Address">
          <center>
            <h2 class="heading">Contact Address</h2 >
          </center>
         <adress class="adress">
        <h2> Head of the Department,</h2><br/>
<p>
Room No. : 603, 6th Floor, Block C<br/>

Department of Electronics & Communication Engineering <br/>

J. N. Govt. Engg. College, Sundernagar, Mandi (HP) 175018<br/>

Phone : +91 1907-267199 
         </adress></p>
        </div>
      </div>
    </div>
  </div>
</section>

<%-include("partials/footer") %>