<%-include("partials/header") %>

<section class="achievements ">
  <h1 class="heading">INDUSTRY INSTITUTE - INTERACTION CELL
  </h1>
  <div class="box-container">
      <div class="box">
          <div class="title">
              
          </div>
          <div class="content">
              <p>
                The institute has been stepping-up all energies and putting wholehearted endeavors in inviting the reputed organizations including MNCs to the College for campus recruitment. To achieve its goal, the Training & Placement Cell is working towards recognizing the core competencies, knowledge level and skill set of particular students.<br/>

                An Industry Institute Interaction Cell (IIIC) program has been started under TEQIP-III, which could act as the nodal point for arranging collaborative activities like visits, expert lectures, meetings related to syllabus revision and feedback, training needs of students, and ultimately for better placement opportunities in sectors across the industries. The IIIC is being activated for inviting valuable suggestions from members of the industry regarding designing/changing of curriculum. The college is in the process of signing MoUs with many industrial organizations, government Public Sector Undertakings, industry bodies like FICCI, CII, and industrial chambers. Technical paper presentation contests have also been planned in the future, in collaboration with industries to bring the latest innovations, technologies, developments, and trends.<br/>
                
                In addition to the above-mentioned activities, the T&P cell has been continuously arranging expert lectures from persons of academic and industrial repute, from senior managers from industries for the benefit of students and faculty of the Institute. Recently, the T&P cell has also arranged an expert lecture session with recently qualified Indian Civil Services (ICS) aspirant – who finally joined Indian Forest Services (IFS). The conference halls are packed during such informative sessions, as they give real-time insight into the making of a successful aspirant. The T&P cell is always looking for conducting collaborative courses, workshops, and seminars for the benefit of students – to make them aware of the latest in the engineering sector as well as to develop a healthy and positive attitude towards life. 
              </p>
          </div>

      </div>




     
  </div>
  
</section>
<%-include("partials/footer") %>