<%-include("partials/header") %>
<section class="achievements ">
    <h1 class="heading">Major & minor project record</h1>
    <div class="box-container">
        <div class="box">
            <div class="title">
                Resources
            </div>
            <div class="content">
                <ol>
                    <li><a href="https://docs.google.com/document/d/1zRgGwZ7k_QR643aU-_H11J7DFVm1IBoC/edit" target="_blank"> PROJECT SYNOPSIS TEMPLET 
                       </a></li>
                    <li><a href="https://docs.google.com/document/d/1QyBlcGiGxgac6h3bzg50GA0m2JfLv8Q1/edit" target="_blank"> PROJECT REPORT TEMPLET 
                        
                        </a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSehgZwbElQS2z4fxi5LANOm1U2TO9oCOwn8MsCprqBm54vcLA/viewform" target="_blank">Submission Link for Project Report(.pdf), Presentations (.ppt) and Code/Simulation results
                        
                       </a></li>
                   
                </ol>
            </div>

        </div>




        <div class="box">
            <div class="title">
                Major/Minor Project Record
            </div>
            <div class="content">
                <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRmlbuO0l5k712TAS-tOy5DYBgE8KOoSAU6MR02frdbzZdTOYj5eJle4cjBhrIFDQdIM20lN3Dq_gXS/pubhtml" width="100%" height="600"></iframe>
               
            </div>

        </div>

        
    </div>
    
</section>
<%-include("partials/footer") %>