<%-include("partials/header") %>
<section class="vision">
    <h1 class="heading">Memorandum of Understanding </h1>
    <div class="box-container">
        <div class="box b">
            <table>
                <tr>
                    <th>Sr. No.</th>
                    <th>Title</th>
                    <th>Download Link</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Jawaharlal Nehru Government Engineering College and Dr. B.R. Ambedkar Govt. Polytechnic Ambota</td>
                    <td><a href="https://drive.google.com/file/d/1W9jlrwjoX-SxaoQUccNDfoh7Mu3b2tve/view" target="_blank">Download Here</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jawaharlal Nehru Government Engineering College and NSSK Govt. Polytechnic Bilaspur</td>
                    <td><a href="https://drive.google.com/file/d/1BRviTNlCtrhdtAaummzXal5HerSX3-ep/view" target="_blank">Download Here</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Jawaharlal Nehru Government Engineering College and Govt.Millennium Polytechnic Chamba</td>
                    <td><a href="https://drive.google.com/file/d/1TKUPY4-cdkA5mVUdgaWII7qvsMtnkBNR/view" target="_blank">Download Here</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Jawaharlal Nehru Government Engineering College and Govt. Polytechnic Kullu</td>
                    <td><a href="https://drive.google.com/file/d/1pnHjRl14KcPZSf4u_N4bH5gBSnii-DLC/view" target="_blank">Download Here</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Jawaharlal Nehru Government Engineering College and Govt. Polytechnic for Women Rehan, Kangra</td>
                    <td><a href="https://drive.google.com/file/d/1M7W3x1aGjlEUXF9XSTkC4sMJvEfnAsi9/view" target="_blank">Download Here</a></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Jawaharlal Nehru Government Engineering College and The University of Texas at Arlington</td>
                    <td><a href="https://drive.google.com/file/d/1UlLonz7BXfHQAAgIjxUS78qWd4Zlnumg/view" target="_blank">Download Here</a></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Jawaharlal Nehru Government Engineering College and IIT Mandi</td>
                    <td><a href="https://drive.google.com/file/d/1MV1Qfl81aasQuKVOmR7m3Y2_LUrGQW6i/view" target="_blank">Download Here</a></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Jawaharlal Nehru Government Engineering College and Govt. College of Engg. Kannur, Kerala</td>
                    <td><a href="https://drive.google.com/file/d/1XzGALmHiCVwIVz8tg1Cemv9jLa5UuyI8/view" target="_blank">Download Here</a></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Jawaharlal Nehru Government Engineering College and Microtek New Tech. Pvt. Ltd.</td>
                    <td><a href="https://drive.google.com/file/d/1c1wAf6waFwx0HInKbeBU14LjolXzLT5T/view" target="_blank">Download Here</a></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Jawaharlal Nehru Government Engineering College and NIT Hamirpur</td>
                    <td><a href="https://drive.google.com/file/d/1H2n1XUi-3y8DL-Ox69HKFwvzINMpoc3-/view" target="_blank">Download Here</a></td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Jawaharlal Nehru Government Engineering College and NIT Jalandhar</td>
                    <td><a href="https://drive.google.com/file/d/175ZLlOTcdu0RJxWjlHmM0dkUdtlEsJjI/view" target="_blank">Download Here</a></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Jawaharlal Nehru Government Engineering College and NIT Srinagar</td>
                    <td><a href="https://drive.google.com/file/d/1lyfS34s0scZqZyfSt8KCDlahIqqUvZHS/view" target="_blank">Download Here</a></td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Jawaharlal Nehru Government Engineering College and NIT Uttarakhand</td>
                    <td><a href="https://drive.google.com/file/d/12c9RdYjfDEQYR1uJiqscj7EjNBET_QOn/view" target="_blank">Download Here</a></td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Jawaharlal Nehru Government Engineering College and EME Technologies</td>
                    <td><a href="https://drive.google.com/file/d/19H24MNbcdS_1uKq5DncoAx1cABUMdtU0/view" target="_blank">Download Here</a></td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Jawaharlal Nehru Government Engineering College and Phytec Embedded Pvt. Ltd.</td>
                    <td><a href="#https://drive.google.com/file/d/1u6-nA8iIjuh6FnnE2zbcM-P2c9wX-aI2/view" target="_blank">Download Here</a></td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Jawaharlal Nehru Government Engineering College and Solex Energy Ltd.</td>
                    <td><a href="https://drive.google.com/file/d/1OiYOkJbA9vi3LsivL5lkrqoyXG7CFQr1/view" target="_blank">Download Here</a></td>
                </tr>
            </table>
        </div>

       
       
        
    </div>
</section>
<%-include("partials/footer") %>