<%-include("partials/header") %>
<section class="achievements ">
    <h1 class="heading">NBA Records</h1>
    <div class="box-container">
        <div class="box">
            <div class="title">
                SELF ASSESMENT REPORT
            </div>
            <div class="content">
                <ol>
                    <li><a href="https://drive.google.com/file/d/1PRTxcEQTUEJ5yN90EPAoyPC-Xy8gav-0/view" target="_blank"> Complete SAR 2022-2023 
                       </a></li>
                    <li><a href="https://drive.google.com/file/d/1wMqs13mxD-OQrO6hRAl4U8ntLOSeTTP3/view" target="_blank">  Part A:  Institutional Information 
                        
                        </a></li>
                    <li><a href="https://drive.google.com/file/d/1K7F0wv9axbREpt7o57i5EAQevHvISiwG/view" target="_blank">CRITERION   1:    Vision, Mission and Program Educational Objectives
                        
                       </a></li>
                    <li><a href="https://drive.google.com/file/d/1FhQm6Srw2tvtNPBXBULXC3VW1lcqXt5c/view" target="_blank"> CRITERION   2:    Program Curriculum and Teaching-Learning Processes 
                        
                       </a></li>
                    <li><a href="https://drive.google.com/file/d/1Mbl9qDHmw7YQJoXpeBzjwBJ3_tOLWlbX/view" target="_blank"> CRITERION   3:    Course Outcomes and Program Outcomes 
                        
                       </a></li>

                    <li><a href="https://drive.google.com/file/d/14Js_uHW3CiJQmUQYlZG4vNDlaGkwdzA2/view" target="_blank"> CRITERION   4:    Student's Performance   
                        
                      </a></li>
                    <li><a href="https://drive.google.com/file/d/1DUBKxAl5VXGMUwfDvt7uUWGHP8ajRO0-/view" target="_blank">  CRITERION   5:    Faculty Information and Contributions 
                        
                       </a></li>
                    <li><a href="https://drive.google.com/file/d/1_ij1l228Ee-MkH2L8Np-tMfYln0TeCSr/view" target="_blank"> CRITERION   6:    Facilities and Technical Support 
                        
                        </a></li>
                    <li><a href="https://drive.google.com/file/d/1YQJwof2m-m1pf_WVfr84P70XyFcAKi3b/view" target="_blank">CRITERION   7:    Continuous Improvement </a>
                        
                        </li>
                    <li><a href="https://drive.google.com/file/d/1Xh9T1IClCaHL3Ge18unEGGmzZXHrc-Kr/view" target="_blank">CRITERION   8:    First Year Academics 
                        
                     </a></li>
                    <li><a href="https://drive.google.com/file/d/1DwO9XzqeN8Peh6Kkq37JmTkdMgdOCmvx/view" target="_blank">   CRITERION   9:    Student Support Systems 
                        
                       </a></li>
                    <li><a href="https://drive.google.com/file/d/1tddNCsEpfzdawTZuAM3O9V2MYPaprOmm/view" target="_blank"> CRITERION 10:   Governance, Institutional Support and Financial Resources</a></li>
                </ol>
            </div>

        </div>




        <div class="box">
            <div class="title">
                Course Files E&CED
            </div>
            <div class="content">
                <iframe src="https://docs.google.com/spreadsheets/d/1-aDqUD2vLD1u2Y7hWzPXHy0aAfCrUlfx8bOiKGgC1bw/edit?gid=1177010492#gid=1177010492" width="100%" height="1600"></iframe>
               
            </div>

        </div>

        <div class="box">
            <div class="title">
                Course Files E&CED
            </div>
            <div class="content">
                <iframe src="https://drive.google.com/file/d/1AdiAme9C_Ca08bu7YlY0FS3w5kLlh2TD/preview" width="100%" height="600" allow="autoplay"></iframe>
               
            </div>

        </div>
    </div>
    
</section>






















<%-include("partials/footer") %>