<%-include("partials/header") %>

<section>
    <div class="container44">
        <h3>Devlopment team </h3>
        <div class="row66">
            <div class="member44">
                <img src="/images/akshay.png" alt="Akshay Kanwar">
                <h2>Akshay Kanwar</h2>
                
                    <p style="font-size: 1.3rem;font-weight:500; ">Assistant Professor, Department of Electronics and Communication</p>
                    <!-- <p style="font-size: 1.3rem;font-weight:bold;color: blue;>JNGEC, Sundernagar </p> -->
                     <P style="font-size: 1.5rem;font-weight: bold;color: #3d4b9c;">JNGEC Sundernagar</P>
                  </div>
                <p></p>

            </div>
        </div>

        <h3></h3>
        <div class="row66">
            <div class="member44">
                <img src="/images/diya.png" alt="Diya Sharma">
                <h2>Diya Sharma</h2>
                <h4>Batch:2021-2025</h4>
            </div>
            <div class="member44">
                <img src="/images/dipti1.jpeg" alt="Dipti" width="300px">
                <h2>Dipti</h2>
                <h4>Batch:2022-2026</h4>
            </div>
        </div>
    </div>
</section>




<%-include("partials/footer") %>