<%-include("partials/header") %>
<section class="vision">
    <h1 class="heading">PEO's, PO's & PSO's</h1>
    <div class="box-container">
        <div class="box b">
            <h1>Program Educational Objectives</h1>
            <dl>
                <dt>PEO-1 :</dt>
                <dd> Graduate to exhibit their innovative ideas and management skills to meet day to day technical challenges.</dd>
              
                <dt>PEO-2 :</dt>
                <dd>Graduates to develop the ability to demonstrate technical competence by applying the knowledge of mathematics and science to identify analyze and solve problems in the field of Electronics and make sophisticated communication systems.
                </dd>

                <dt> PEO-3 : </dt>
                <dd>Graduates to embody a commitment to professional ethics, diversity and social awareness in their professional career.</dd>
              </dl>
        </div>

        <div class="box b">
            <h1>Program Outcomes</h1>
            <dl>
                <dt>PO1: Engineering knowledge</dt>
                <dd>Apply the knowledge of mathematics, science, engineering fundamentals, and an engineering specialization to the solution of complex engineering problems.</dd>
              
                <dt>PO2: Problem analysis</dt>
                <dd>Identify, formulate, review research literature, and analyze complex engineering problems reaching substantiated conclusions using first principles of mathematics, natural sciences, and engineering sciences.</dd>
              
                <dt>PO3: Design/development of solutions</dt>
                <dd>Design solutions for complex engineering problems and design system components or processes that meet the specified needs with appropriate consideration for the public health and safety, and the cultural, societal, and environmental considerations.</dd>
              
                <dt>PO4: Conduct investigations of complex problems</dt>
                <dd>Use research-based knowledge and research methods including design of experiments, analysis and interpretation of data, and synthesis of the information to provide valid conclusions.</dd>
              
                <dt>PO5: Modern tool usage</dt>
                <dd>Create, select, and apply appropriate techniques, resources, and modern engineering and IT tools including prediction and modeling to complex engineering activities with an understanding of the limitations.</dd>
              
                <dt>PO6: The engineer and society</dt>
                <dd>Apply reasoning informed by the contextual knowledge to assess societal, health, safety, legal and cultural issues and the consequent responsibilities relevant to the professional engineering practice.</dd>
              
                <dt>PO7: Environment and sustainability</dt>
                <dd>Understand the impact of the professional engineering solutions in societal and environmental contexts, and demonstrate the knowledge of, and need for sustainable development.</dd>
              
                <dt>PO8: Ethics</dt>
                <dd>Apply ethical principles and commit to professional ethics and responsibilities and norms of the engineering practice.</dd>
              
                <dt>PO9: Individual and team work</dt>
                <dd>Function effectively as an individual, and as a member or leader in diverse teams, and in multidisciplinary settings.</dd>
              
                <dt>PO10: Communication</dt>
                <dd>Communicate effectively on complex engineering activities with the engineering community and with society at large, such as, being able to comprehend and write effective reports and design documentation, make effective presentations, and give and receive clear instructions.</dd>
              
                <dt>PO11: Project management and finance</dt>
                <dd>Demonstrate knowledge and understanding of the engineering and management principles and apply these to ones own work, as a member and leader in a team, to manage projects and in multidisciplinary environments.</dd>
              
                <dt>PO12: Life-long learning</dt>
                <dd>Recognize the need for, and have the preparation and ability to engage in independent and life-long learning in the broadest context of technological change.</dd>
              </dl>
              
        </div>

        <div class="box b">
            <h1>Program Specific Outcomes</h1>
            <dl>
                <dt>PSO-1 :</dt>
                <dd> Competitive Skills : Ability to crack the competitive examination after graduation.

                   </dd>
              
                <dt>PSO-2 :</dt>
                <dd>  Employability Skills: Inculcate the industry readiness after graduation.</dd>

              </dl>
        </div>

        <div class="box b">
            <h1>EXIT SURVEY OF ECE STUDENTS OF JNGEC </h1>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc_LzOhA5CI7f7iRmmVpa71ZHHl5Dk96RIIxeTyV1UlBIMyPQ/viewform" width="800" height="600"></iframe>
        </div>
        
    </div>
</section>



<%-include("partials/footer") %>