<%-include("partials/header") %>
<section class="achievements ">
    <h1 class="heading">Syllabus E&CE</h1>
    <div class="box-container">
        <div class="box">
            <div class="title">
                3rd Semester Subjects
            </div>
            <div class="content att">
                <ol>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdI0Xwy6crXjQGbefmEkg458tcSor7ZFowFsZ0fH5gxFh29Jg/closedform" target="_blank" > Analog Electronics (EC-301) </a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdI0Xwy6crXjQGbefmEkg458tcSor7ZFowFsZ0fH5gxFh29Jg/closedform" target="_blank">   Digital Electronics (EC-302) </a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdI0Xwy6crXjQGbefmEkg458tcSor7ZFowFsZ0fH5gxFh29Jg/closedform" target="_blank">Network Analysis & Synthesis (EC-303)</a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdlOozYMFztXJySQBXltYGbfnK5IYNzF0-C1GQCVL1YZ76IOA/viewform" target="_blank">Signals & Systems (EC-304)</a></li>
                  
                </ol>
            </div>

        </div>
        <div class="box">
            <div class="title">
                4th Semester Subjects 
            </div>
            <div class="content att">
                <ol>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScAAQxb3EIN5ZX1s01DkXDeED41PkWCigi_G0zH3N6EipFzBw/viewform" target="_blank" > Analog Communication (EC-401) </a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdI0Xwy6crXjQGbefmEkg458tcSor7ZFowFsZ0fH5gxFh29Jg/closedform" target="_blank">    Microprocessors & Peripherals (EC-402) </a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdI0Xwy6crXjQGbefmEkg458tcSor7ZFowFsZ0fH5gxFh29Jg/closedform" target="_blank"> Linear Integrated Circuits (EC-403)</a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdI0Xwy6crXjQGbefmEkg458tcSor7ZFowFsZ0fH5gxFh29Jg/closedform" target="_blank"> Pulse Shaping & Wave Generation (EC-404)</a></li>
                  
                </ol>
            </div>

        </div>
        <div class="box">
            <div class="title">
                5th Semester Subjects
            </div>
            <div class="content att">
                <ol>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdI0Xwy6crXjQGbefmEkg458tcSor7ZFowFsZ0fH5gxFh29Jg/closedform" target="_blank" > Digital Communication (EC-501) </a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdI0Xwy6crXjQGbefmEkg458tcSor7ZFowFsZ0fH5gxFh29Jg/closedform" target="_blank">Electromagnetic Field Theory (EC-502)  </a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdI0Xwy6crXjQGbefmEkg458tcSor7ZFowFsZ0fH5gxFh29Jg/closedform" target="_blank"> Electronic Logic Circuit Design (EC-503) </a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdI0Xwy6crXjQGbefmEkg458tcSor7ZFowFsZ0fH5gxFh29Jg/closedform" target="_blank"> Electronic Measurement & Measuring Instruments (EC-504) </a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSf_viEDKlioxOrb7IbQ0lbUXBHiQSlkVXNSwgmPiKVqlcTbHg/viewform" target="_blank">Power Electronics (EC-505)</a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdI0Xwy6crXjQGbefmEkg458tcSor7ZFowFsZ0fH5gxFh29Jg/closedform" target="_blank">Introduction to Microcontrollers for Embedded Systems (EC-506)</a></li>
                  
                    
                  
                </ol>
            </div>

        </div>
        <div class="box">
            <div class="title">
                6th Semester Subjects
            </div>
            <div class="content att">
                <ol>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdI0Xwy6crXjQGbefmEkg458tcSor7ZFowFsZ0fH5gxFh29Jg/closedform" target="_blank" >Advanced Microcontrollers for Embedded systems (EC-601)</a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdI0Xwy6crXjQGbefmEkg458tcSor7ZFowFsZ0fH5gxFh29Jg/closedform" target="_blank">  Antenna & Wave Propagation (EC-602)</a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdI0Xwy6crXjQGbefmEkg458tcSor7ZFowFsZ0fH5gxFh29Jg/closedform" target="_blank">Linear Control Systems (EC-603)</a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdI0Xwy6crXjQGbefmEkg458tcSor7ZFowFsZ0fH5gxFh29Jg/closedform" target="_blank"> Digital Signal Processing (EC-604) </a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdI0Xwy6crXjQGbefmEkg458tcSor7ZFowFsZ0fH5gxFh29Jg/closedform" target="_blank">   Microelectronics Technology (EC-605) </a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdI0Xwy6crXjQGbefmEkg458tcSor7ZFowFsZ0fH5gxFh29Jg/closedform" target="_blank"> Wireless & Mobile Communication (EC-606) </a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdI0Xwy6crXjQGbefmEkg458tcSor7ZFowFsZ0fH5gxFh29Jg/closedform" target="_blank">Principles of Soft Computing (EC-609) </a></li>
                    
                  
                </ol>
            </div>

        </div>
        <div class="box">
            <div class="title">
                7th Semester Subjects
            </div>
            <div class="content att">
                <ol>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdI0Xwy6crXjQGbefmEkg458tcSor7ZFowFsZ0fH5gxFh29Jg/closedform" target="_blank"> Computer Networks & Data  Communication (EC-701) </a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSeQO-EscY-1TY8h0lRzc6wuBSbhxC887N3AcAIITAm-olf_2A/viewform" target="_blank">Wireless Sensor Network (EC-709)</a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScoeMaSyjjbPuhLMYOMC-5wf0_NzbR2ct-nLNCCU3r_eBeEtA/closedform" target="_blank">   Minor Project (EC-711) </a></li>
                </ol>
            </div>

        </div>
        <div class="box">
            <div class="title">
                8th Semester Subjects
            </div>
            <div class="content att">
                <ol>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdX3SV2oRjH4VZZH0esId8GQxEAEQgcZL3Q-xeKFlPT_tzWug/closedform" target="_blank"> Major Project (EC-807)  </a></li>
                   
                </ol>
            </div>

        </div>





       
    </div>
    
</section>

<%-include("partials/footer") %>