<%-include("partials/header") %>

<section class="vision">
    <h1 class="heading">Spoken Tutorial</h1>
   <div class="spoken">
    <center>
        <h3>
          Jawaharlal Nehru Government Engineering College (JNGEC), Mandi
        </h3>
    </center>
    <ul class="tp">
        <li class="semester active-planner">
            <div class="semdesc">
                <b>January - June, 2025 (Current Semester)</b>
                
            </div>
            <div class="training-row"><br>
                <table class="table table-striped table-hover table-bordered">
                    <tr>
                        <th>#</th>
                        <th>Semester Start Date</th>
                        <th>Software Course</th>
                        <th>Department</th>
                
                        <th>Participant List Status</th>
                        <th>Batch Year</th>
                    </tr>
    
                    <tr data-id="193531" class="completed">
                        <td>1</td>
                        <td>Jan. 15, 2025</td>
                        <td>Python - Python 3.4.3</td>
                        <td>Electronics and Communication Engineering (B.Tech)</td>
                        <td>71</td>
                        <td>2023</td>
                      
                    </tr>
    
                  
    
                    <tr data-id="193551" class="completed">
                        <td>3</td>
                        <td>Jan. 15, 2025</td>
                        <td>Scilab</td>
                        <td>Electronics and Communication Engineering (B.Tech)</td>
                        
                        <td>60</td>
                        <td>2022</td>
                    </tr>
    
                   
    
                    <tr data-id="194372" class="completed">
                        <td>4</td>
                        <td>Jan. 15, 2025</td>
                        <td>Python - Python 3.4.3</td>
                        <td>Electronics and Communication Engineering (B.Tech)</td>
                        
                        <td>60</td>
                        <td>2022</td>
                    </tr>
    
                    <tr data-id="194425" class="completed">
                        <td>5</td>
                        <td>Jan. 15, 2025</td>
                        <td>Arduino</td>
                        <td>Electronics and Communication Engineering (B.Tech)</td>
                        
                        <td>71</td>
                        <td>2023</td>
                    </tr>
    
                    <tr data-id="195604" class="completed">
                        <td>6</td>
                        <td>Jan. 15, 2025</td>
                        <td>Arduino</td>
                        <td>Electronics and Communication Engineering (B.Tech)</td>
                        
                        <td>70</td>
                        <td>2024</td>
                    </tr>

                   
         </table>
         </div>
         <br/>

             <ul class="tp">
        <li class="semester active-planner">
            <div class="semdesc">
                <b>January - July - December, 2025(Next Semester)</b>
                
            </div>
                        <div class="training-row"><br>

                      
                            
                            <table class="table table-striped table-hover table-bordered">
                                <tr>
                                    <th>#</th>
                                    <th>Semester Start Date</th>
                                    <th>Software Course</th>
                                    <th>Department</th>
                                    <th>Participant List Status</th>
                                    <th>Batch Year</th>
                                </tr>
                    
                                
                    
                                <tr data-id="162567" class="completed">
                                    <td>1</td>
                                    <td>Jan. 15, 2023</td>
                                    <td>MATLAB</td>
                                    <td>Electronics and Communication Engineering (B.Tech)</td>
                                    <td>58</td>
                                    <td>2021</td>
                                </tr>
                    
                            </table>
                        </div>
                    </li>
                    
            
            </div>
        </li>
    </ul>
    
</div>
<br/>

<li class="semester">
  <div class="semdesc">
    <b>January - June, 2023</b>
  
  </div>
                
            </div>
                        <div class="training-row"><br>

<table>
    <tr>
        <th>#</th>
        <th>Semester Start Date</th>
        <th>Software Course</th>
        <th>Department</th>
        <th>Participant List Status</th>
        <th>Batch Year</th>
    </tr>
  
    <tr class="completed">
        <td>1</td>
        <td>Sept. 13, 2023</td>
        <td>Arduino</td>
        <td>Electronics and Communication Engineering (B.Tech)</td>
        <td>60</td>
        <td>2021</td>
    </tr>
    <tr class="completed">
        <td>2</td>
        <td>Sept. 7, 2023</td>
        <td>Linux</td>
        <td>Electronics and Communication Engineering (B.Tech)</td>
        <td>61</td>
        <td>2022</td>
    </tr>
    
</table>
<br/>
<li class="semester">
    <div class="semdesc">
      <b>January - June, 2023</b>
  
    </div>
    
    <div class="training-row">
      <table class="table table-striped table-hover table-bordered">
        <tr>
          <th>#</th>
          <th>course  Start Date</th>
          <th>Software Course</th>
          <th>Department</th>
          <th>Participant List Status</th>
          <th>Batch Year</th>
        </tr>
        
      
        
        <tr  data-id="160159" class="completed">
          <td>1</td>
          <td>Feb. 28, 2023 </td>
          <td>Arduino</td>
          <td>Electronics and Communication Engineering (B.Tech)</td>
          <td>61</td>          
                
                | <td>2022</td>
                  |
                
              
          </td>
        </tr>
        
        
       
        
        <tr  data-id="160176" class="completed">
          <td>2</td>
          <td>Feb. 28, 2023 </td>
          <td>Java</td>
          <td>Electronics and Communication Engineering (B.Tech)</td>
          <td>60</td>
          <td>2022</td>
        </tr>
        
       
        
       
        
       
        
        <tr  data-id="160816" class="completed">
          <td>3</td>
          <td>Feb. 28, 2023 </td>
          <td>Git</td>
          <td>Electronics and Communication Engineering (B.Tech)</td>
          <td>3</td>
          <td>2020</td>
        </tr>
        
        <tr  data-id="161163" class="completed">
          <td>4</td>
          <td>Feb. 28, 2023 </td>
          <td>Java</td>
          <td>Electronics and Communication Engineering (B.Tech)</td>
          <td>69</td>
          <td>2020</td>
        </tr>
        
       
        
        
        
      </table>
    </div>
    
  </li>
  
  
  
  
  <li class="semester">
    <div class="semdesc">
      <b>January - June, 2022</b>
      
    </div>
    
    <div class="training-row">
      <table class="table table-striped table-hover table-bordered">
        <tr>
          <th>#</th>
          <th>Semester Start Date</th>
          <th>Software Course</th>
          <th>Department</th>
          <th>Participant List Status</th>
          <th>Batch Year</th>
        </tr>
        
        <tr  data-id="145215" class="completed">
          <td>1</td>
          <td>Feb. 4, 2022 </td>
         <td>java</td>
          <td>Electronics and Communication Engineering (B.Tech)</td>
          <td>65</td>
          <td>2019</td>
        </tr>
        
        <tr  data-id="145226" class="completed">
          <td>2</td>
          <td>Feb. 4, 2022 </td>
          <td>Java</td>
          <td>Electronics and Communication Engineering (B.Tech)</td>
          <td>62</td>
          <td>2018</td>
        </tr>
        
     
     
        
        
        
        <tr  data-id="145233" class="completed">
                
          <td>3</td>
          <td>March 14, 2022 </td>
          <td>Python - Python 3.4.3</td>
          <td>Electronics and Communication Engineering (B.Tech)</td>
          <td>69</td>
          <td>2019</td>
        </tr>
        
       
        
        <tr  data-id="149135" class="completed">
          <td>4</td>
          <td>March 14, 2022 </td>
          <td>Python - Python 3.4.3</td>
          <td>Electronics and Communication Engineering (B.Tech)</td>
          <td>52</td>
          <td>2021</td>
        </tr>
        
      
        
        <tr  data-id="149137" class="completed">
          <td>5</td>
          <td>March 14, 2022 </td>
          <td>C and Cpp</td>
          <td>Electronics and Communication Engineering (B.Tech)</td>
          <td>65</td>
          <td>2019</td>
        </tr>
        
     
        
   
    
   
        
    
        
  
        
       
        
      </table>
      <li class="semester">
        <div class="semdesc">
          <b>July - December, 2021</b>
        
        </div>
        
        <div class="training-row">
          <table class="table table-striped table-hover table-bordered">
            <tr>
              <th>#</th>
              <th>Semester Start Date</th>
              <th>Software Course</th>
              <th>Department</th>
              <th>Participant List Status</th>
              <th>Batch Year</th>
            </tr>
         
            
            <tr  data-id="138906" class="completed">
              <td>1</td>
              <td>Aug. 6, 2021 </td>
              <td>Android app using Kotlin</td>
              <td>Electronics and Communication Engineering (B.Tech)</td>
              <td>60</td>
              <td>2020</td>
            </tr>
            
            <tr  data-id="138907" class="completed">
              <td>2</td>
              <td>Aug. 6, 2021 </td>
              <td>Java</td>
              <td>Electronics and Communication Engineering (B.Tech)</td>
              <td>65</td>
              <td>2019</td>
            </tr>
            
            <tr  data-id="138910" class="completed">
              <td>3</td>
              <td>Aug. 6, 2021 </td>
              <td>Scilab</td>
              <td>Electronics and Communication Engineering (B.Tech)</td>
              <td>65</td>

                
                <td>2019</td>
            </tr>
            
            <tr  data-id="138912" class="completed">
              <td>4</td>
              <td>Aug. 6, 2021 </td>
              <td>Python - Python 3.4.3</td>
              <td>Electronics and Communication Engineering (B.Tech)</td>
              <td>61</td>
              <td>2018</td>
            </tr>
            
            <tr  data-id="138913" class="completed">
              <td>5</td>
              <td>Aug. 6, 2021 </td>
              <td>LaTeX</td>
              <td>Electronics and Communication Engineering (B.Tech)</td>
              <td>61</td>
              <td>2019</td>
            </tr>
            
          </table>
        </div>
        
      </li>
    </div>
    
  </li>
  <li class="semester">
    <div class="semdesc">
      <b>July - December, 2023</b>
  
    </div>
    
    <div class="training-row">
      <table class="table table-striped table-hover table-bordered">
        <tr>
          <th>#</th>
          <th>Semester Start Date</th>
          <th>Software Course</th>
          <th>Department</th>
          <th>Participant List Status</th>
          <th>Batch Year</th>
        </tr>
  
    
   
        
      
        
        
    
      
        
        
        <tr  data-id="168369" class="completed">
          <td>1</td>
          <td>Sept. 6, 2023 </td>
          <td>C and Cpp</td>
          <td>Electronics and Communication Engineering (B.Tech)</td>
          <td>72</td>
          <td>2023</td>
        </tr>
        
        <tr  data-id="169219" class="completed">
          <td>2</td>
          <td>Sept. 7, 2023 </td>
          <td>Linux</td>
          <td>Electronics and Communication Engineering (B.Tech)</td>
          <td>61</td>
          <td>2021</td>
        </tr>
        
        <tr  data-id="170875" class="completed">
          <td>3</td>
          <td>Sept. 13, 2023 </td>
          <td>Arduino</td>
          <td>Electronics and Communication Engineering (B.Tech)</td>
          <td>60</td>
          <td>2022</td>
        </tr>
      
        
        
        
      </table>
    </div>
    
  </li>
</section>

<%-include("partials/footer") %>