<%-include("partials/header") %>

<section class="achievements ">
    <h1 class="heading">Course Outcome</h1>
    <div class="box-container">
        <div class="box">
            
        
                    <h1 class="heading1">Course Outcome 2nd year E&CE </h1>
                    
                        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTlgK40TIJgH-nnAafe_Zh58mOYT2_CbZyTtj6mvA2D6ts_qcUO6GYjyc9SCsKGAQI2omgLGPiO-JZW/pubhtml" width="100%" height="600"></iframe>
                    
                    <h1 class="heading1"> Course Outcome 3rd year E&CE </h1>
                    
                        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSWz_Z0NpL1CKespx-Hd1xJyGI-tZlCVUIbh34UuH_M3rRMq9HfP9shVcRc2hhuqAAjWNMZccGKZPX-/pubhtml" width="100%" height="600"></iframe>
                  
                    <h1 class="heading1">Course Outcome 4th year E&CE  </h1>
                    
                            <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR_o_Fb6skGaPu6MWSYuyw0nHax3rF0sZFM21NwHBagyKak3VcFpnTlb0Pqpbak8es2VTgHohUUHNUg/pubhtml" width="100%" height="600"></iframe>
                        
                        
                    
                   
                  
            
        
        </div>




       
    </div>
    
</section>


<%-include("partials/footer") %>