<%-include("partials/header") %>
<section class="faculty">
    <h1 class="heading">Video Lectures </h1>
    <div class="box-container">
        <div class="box ">
            <div class="content img"><img src="images\ANKIT.png" alt="">
            
            </div>

            <div class="content">
                <div class="des">
                    <h1 class="name">Er. Ankit Sharma, AP E&CED</h1>
                    <a href="https://www.youtube.com/@AnkitSharma-tx9xw/playlists"><span>Youtube</span> : @AnkitSharma-tx9xw
                    </a>
                </div>   
                <div class="play" >
                    <h3>Playlists</h3>
                    <ol>
                        <li><a href="https://www.youtube.com/playlist?list=PLG3Mcj56vAufC7pHrXfHXYWP0Lgtr0dND" target="_blank"> Principles of Electrical Engineering   </a></li>
                        <li><a href="https://www.youtube.com/playlist?list=PLG3Mcj56vAudH9TrufQDJ9HbotjETboHI" target="_blank">Microwave & Radar Engineering (EC-702) </a></li>
                        <li><a href="https://www.youtube.com/playlist?list=PLG3Mcj56vAuf0q_SvdEPdjQR8D5dfq6Ok" target="_blank"> Electronic Filters </a></li>
                        <li><a href="https://www.youtube.com/playlist?list=PLG3Mcj56vAuchDbCd1Oqh0kcX2VtHPbj0" target="_blank">Fundamentals of Electronics Engineering </a></li>
                        <li><a href="https://www.youtube.com/playlist?list=PLG3Mcj56vAucFOdOcgiMAF_iYBsDRYUVl" target="_blank"> Linear Integrated Circuits</a></li>
                        <li><a href="https://www.youtube.com/playlist?list=PLG3Mcj56vAudXV5H41aGKishfRg8xYEGV" target="_blank">MSP430G2553 Launchpad Tutorials with CCS</a></li>
                    </ol>
                   
                </div>       
            </div>
          
        </div>
        <div class="box ">
            <div class="content img"><img src="images\sanjeev-sir.jpg" alt="">
            
            </div>

            <div class="content">
                <div class="des">
                    <h1 class="name">Er. Sanjeev Kumar, AP E&CED</h1>
                    <a href="https://www.youtube.com/@tech.pathshala6808"><span>Youtube</span> : @tech.pathshala6808
                    </a>
                </div>   
                <div class="play" >
                    <h3>Playlists</h3>
                    <ol>
                        <li><a href="https://www.youtube.com/playlist?list=PLOwNi6YKINYokXAEbQ3ZDJHbh1Bc_kx04" target="_blank">  Digital Signal Processing (EC-604)  </a></li>
                        <li><a href="https://www.youtube.com/playlist?list=PLOwNi6YKINYoB0LDTNmYvdIHHmG3uNbwW" target="_blank">Pulse Shaping & Wave Generation (EC-404) </a></li>
                        <li><a href="https://www.youtube.com/playlist?list=PLOwNi6YKINYq4RiOm-h0EFrGonmZgNkxK" target="_blank"> Communication Engineering </a></li>
                        <li><a href="https://www.youtube.com/playlist?list=PLOwNi6YKINYrj6pXDd9mFDpd183Rdn5n1" target="_blank"> Signals & Systems </a></li>
                       
                    </ol>
                   
                </div>       
            </div>
          
        </div>
        <div class="box ">
            <div class="content img"><img src="images\akshay.png" alt="">
            
            </div>

            <div class="content">
                <div class="des">
                    <h1 class="name">Er. Akshay Kanwar, AP E&CED</h1>
                    <a href="https://www.youtube.com/@Engineering_Basics/playlists"><span>Youtube</span> : @Engineering_Basics
                    </a>
                </div>   
                <div class="play" >
                    <h3>Playlists</h3>
                    <ol>
                        <li><a href="https://www.youtube.com/playlist?list=PLFVYQg686jGWe3OUdIq-oQciTfZsghYpe" target="_blank"> Communication Engineering </a></li>
                        <li><a href="https://www.youtube.com/playlist?list=PLFVYQg686jGUNGCxXiCGGItPEdpdlQSCd" target="_blank">Digital Signal Processing </a></li>
                        <li><a href="https://www.youtube.com/playlist?list=PLFVYQg686jGW_kk6g8vnjsebT7j3RfXss" target="_blank">Analog Electronics </a></li>
                        <li><a href="https://www.youtube.com/playlist?list=PLFVYQg686jGUqT9dBaer7YMBZ62qzbaus" target="_blank">Linear Control Systems </a></li>
                        <li><a href="https://www.youtube.com/playlist?list=PLFVYQg686jGUzGLC_shZ7Vbtn_-Mwj7_d" target="_blank"> Signal & Systems (Using Python)</a></li>
                        
                    </ol>
                   
                </div>       
            </div>
          
        </div>

   

        
    </div>
</section>

<%-include("partials/footer") %>